
@font-face {
    font-family:"TiemposHeadline-Light";
    src:url("Tiempos-Headline-Light.woff2") format("woff2"),url("Tiempos-Headline-Light.woff") format("woff"),url("Tiempos-Headline-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        