# WordPress Core (if you don’t manage core in Git)
# Uncomment if you pull core with WP-CLI or Composer instead of tracking it
wp-admin/
wp-includes/
# WordPress Content
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/cache/supercache/
wp-content/w3tc-cache/
wp-content/uploads/2024/
wp-content/uploads/2023/
wp-content/uploads/2022/
wp-content/uploads/2021/
wp-content/uploads/2020/
wp-content/uploads/2019/
wp-content/uploads/2018/
wp-content/uploads/alm_templates/
wp-content/uploads/searchwp-logs/
wp-content/uploads/wp-migrate-db/
wp-content/uploads/wpallexport/
wp-content/uploads/wpo/
wp-content/uploads/wpo-plugins-tables-list.json
wp-content/themes/*
!wp-content/themes/twentytwentyfive-child/
wp-content/uploads/sgs_encrypt_key.php
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
wp-content/wflogs/
# Sensitive files
**/.DS_Store/**
.DS_Store
/.env                           
.htaccess
# Lando, Docker, node_modules, OS files
.lando.local.yml
.env.local
node_modules
/vendor/
/.dockerignore
Dockerfile
.well-known
# Build artifacts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# IDE / OS files
.vscode/
/.idea/
/.DS_Store
Thumbs.db
# Composer
/vendor/
# Revistas
/revistasanjuandedios14/
/revistasanjuandedios15/
/revistasanjuandedios16/