
@font-face {
    font-family:"Suisse Int'l Semi Bold";
    src:url("SuisseIntl-SemiBold.woff2") format("woff2"),url("SuisseIntl-SemiBold.woff") format("woff"),url("SuisseIntl-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        