
@font-face {
    font-family:"Suisse Int'l Italic";
    src:url("SuisseIntl-RegularItalic.woff2") format("woff2"),url("SuisseIntl-RegularItalic.woff") format("woff"),url("SuisseIntl-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        