
@font-face {
    font-family:"Suisse Int'l Light";
    src:url("SuisseIntl-Light.woff2") format("woff2"),url("SuisseIntl-Light.woff") format("woff"),url("SuisseIntl-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        