.page-template-page-educa-SJD{
     color:$white;
     background-color: #f1f1f1;

     .entry-header {
          margin:  2rem auto;
          padding: 0;
          .entry-title {
               font-family: $fp-bold;
               color:$black;
               margin: 0 auto !important;
          }
     }

     .entry-content {
          padding: 0 2rem;

          h4 {
               padding: 0;
               margin-bottom: 1rem;
               font-family: $fp-bold;
               color:$black;  
          }

          p {
               margin-bottom: 3rem;
          }
     }

     .wp-block-noticias {
          background-color: transparent;
          margin-bottom: 3rem;
          .section-header {
               .section-title {
                    font-family: $fp-bold;
                    color:$black;
               }
          }
          .post-list {
               .owl-dots {
                    .owl-dot {
                         span {
                              background-color: $silver !important;
                         }
                         &.active span{
                              background-color: $tertiary !important;
                         }
                    } 
                }

               .owl-item {
                    border: 0 solid $white;
                    background-color:$tertiary;
                    .entry {

                         .entry-content {
                              padding: 0;
                              .category-list {
                                   display: none;
                              }
     
                              button.btn {
                                   border:none;
                                   background-color: transparent;
                                   text-transform: uppercase;
                                   color:$tertiary;
                                   margin: 0 1.5rem 2rem 1.5rem;
                                   padding: 1rem 1.5rem;
                                   @include font-size(18);
                                   line-height: 120%;
                                   cursor:pointer;
                                   transition: 0.3s;
                                   border-radius: 0.3rem;
                                   &:hover {
                                        background-color: $white;
                                        opacity: 0.9;
                                   }
     
                                   &.btn-descargar{
                                        background-color: $white;
                                   }
                              }
                         }
                         

                    }
  
               }
              
          }


     }
    
     @include tablet {
          
     }

     @include laptop {
          .entry-header {
               margin:  2rem auto;
               padding: 0;
          }
          .entry-content {
               padding: 0;
               p{
               padding: 0 10%;
               }
          }
     }
     
     @include xlarge {
          
     }

}
// end team