.page-template-page-hermanos {
     .entry-header {
          position: relative;
          .page-nav {
               top:2rem;
               right: calc(30% - 50rem);
          }
     }

     .entry-content h4 {
          margin-bottom: 2rem !important;
     }
}

