.page {
  &.page-template-page-cv {
    .entry-image {
      padding-bottom: 30rem;
    }

    .entry {
      margin-bottom: 5rem;
    }

    @include tablet {
      .entry-image {
        padding-bottom: 60rem;
      }
    }

    @include laptop {
      .entry-image {
        padding-bottom: 60rem;
        max-width: 70rem;
      }
    }

    @include large {
      .entry-image {
        max-width: 72rem;
      }
    }

  }
  
  .entry-image {
    padding-bottom: 20rem;
  }

  .entry-header {
       
    .entry-antetitle {
      color:$primary;
      margin-left: 1rem;
    }

    .entry-title {
      color:$primary;
      margin: 1rem 0;
      padding: 0 1.5rem;
    }

    .page-nav {
      display: none;
      width: 20rem;
      position: absolute;
      top:40rem;
      right:2rem;
      border:0.1rem solid $primary;
      background-color:$white;
      z-index: 10;
      span {
        display: block;
        margin:1.5rem;
        color:$primary;
        @include font-size(14);
        line-height: 150%;
        padding-bottom: 0.75rem;
        border-bottom: 0.1rem dashed $primary;
        text-transform: uppercase;
      }
      .menu-nav {
        background: $white;
        .page_item {
          border-bottom: 0.1rem solid $primary;
          margin: 1rem 1.5rem;
          padding: 0.5rem 0 1rem 0;
          list-style-type: none;

          a {
            color:$primary;
            font-family: $fp-light;
            &:hover {
              text-decoration: underline;
            }
          }
        
          &.current_page_item {
            a {
              font-family: $fp-regular;
            }
          }
  
          &:last-child {
            border-bottom: none;
          }
        }
      }
      @include xlarge {
        right:calc(66% - 100rem);
      }
    }
  } // END ENTRY HEADER

  .entry-content {
    h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote  {
      margin:0 auto 1.5rem;
      padding:0;
      width: calc(100% - 3rem);
    }

    h4 {
      
    }

    p {
      padding-bottom: 1.5rem;
    }

    .wp-block-quote  {
      margin-top: 3rem !important;
      margin-bottom: 3rem !important;
      padding-top: 4rem !important;
      padding-bottom: 4rem !important;
    }

    .wp-block-buttons {
      padding: 1.5rem;
    }

    .wp-block-cover {
      margin-left: 2rem;
      h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
        margin-left: 0 !important;
      }
      &.alignfull {
        margin-left: 0;
      }
    }
    .wp-block-media-text {
      .wp-block-media-text__content {
        h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
          margin-left: 0 !important;
        }
      }
    }


  } // END ENDTRY CONTENT


  @include laptop {

    .entry-header {

      .entry-title {
        color:$primary;
        margin: 2rem auto 1rem;
        padding: 0 20rem 0 0;
        
      }
  
      .page-nav {
        display: block;
        ul.children {
          display: none;
        }
      }

    } // END ENTRY HEADER

    .entry-content {
      h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-image, .wp-block-quote {
        margin:0 0 2rem ;
        padding:0 24rem 0 1rem;
        width: 100%;
        text-align: left;
        border-left:none !important;

        &.texto-largo {
          text-align: center;
          @include font-size(50);
        }
      }

      p {
        padding-bottom: 1.5rem;
      }

      .wp-block-quote  {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
        border-left:none !important;
      }


  
      .wp-block-buttons {
        padding: 1.5rem 0;
      }
    } 

  }

  @include large {
    .entry-header {
      .entry-antetitle {
        margin-left: 0;
        letter-spacing: 0.2rem;
      }
      .entry-title {
        margin: 4rem auto 2rem;
        padding: 0 20rem 0 0;
        max-width: 122rem;
        @include font-size(60);
      }
    } // END ENTRY HEADER

    .entry-content {
      h4 {
        @include font-size(32);
      }

      h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
        padding-right: 20rem;
      }
      p {
        padding-bottom: 1.5rem;
      }

      .wp-block-media-text {
        .wp-block-media-text__content {
          h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
            padding-right: 20rem;
          }
        }
      }
    }
    
  }

  @include xlarge {

    .entry-header {

      .entry-title {
      @include font-size(70);
      padding: 0 30rem 0 0;
      }
    } // END ENTRY HEADER



  .entry-content {
    h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote  {
      margin:0;
      padding:0 30rem 0 0;
      width: 100%;
    }

    p {
      padding-bottom: 2rem;
    }
   

    h4 {
      @include font-size(32);
      margin-bottom: 4rem;
    }

    .wp-block-buttons {
      padding: 1.5rem 0;
    }

    .wp-block-cover {
      margin-left: 2rem;
    }

    .wp-block-image {
      margin: 0;
      padding:0;
    }

  } // END ENDTRY CONTENT

  }
}