.search-results,
.search-no-results {
    
    .page-header {
        .page-header {
          .entry-title {
            color:$primary;
          }
     
      }
    }
    nav.category-nav {
        ul.category-list{
            border-bottom: 0px solid $primary !important;
        }
    }

    .entry-list {
        .entry { 
    .entry-day {
        width: 20rem;
        margin-right: 2rem;
        border: 0.1rem solid $primary;
        time {
            color:$primary;
            font-family: $fs-regular;
            @include font-size(50);
            text-align: center;
            padding-top: 3rem;
            span {
                @include font-size(18);
                display: block;
            }
        }
    }
     .entry-content {

      
         span.entry-categories {
             color:$primary;
             @include font-size(18);
             line-height: 130%;
         }
        .entry-title {
            padding-left: 0;
            margin:1rem 0 1rem 0;
        }

        .entry-excerpt {
            padding: 0;
            @include font-size(18);
        }

        .btn-primary a {
            text-transform: uppercase;
            }
        }
        &.mlf-location {
            border:0 solid $primary;
            border-bottom: 0.1rem dashed $primary;
            .entry-image{
                padding-bottom: 25%;
            }
            .entry-content {
                .entry-categories,
                .telefon {
                    margin-left: 0;
                    }
                }
        
            }
        }
    }
}
  