.page-template-page-valores {
     .entry-header {
          background: $primary;
          padding: 3rem 1.5rem 2rem;
          margin: 0;
          
          
          .entry-image {
               padding: 40%;
          }

          .entry-antetitle,
          .entry-title {
               color:$white;
               padding-left: 0 !important;
               letter-spacing: 0.2rem;
               &:before {
                    background: none;
               }
          }
     }

     .entry-content {
         margin-top: 3rem;

  

         figure {
          figcaption {
                   text-align: center;
                   padding: 1rem 0;
                   font-family: $fs-regular;
                   font-style: italic;
              }
         }
     }

     @include tablet {

          .entry-header {
               padding: 5rem 5rem 2rem;
               margin: 0;
               
               .entry-image {
                    padding: 40%;
               }
          }

          .entry-content {
               h3, p {
                    padding:0 5rem;
               }
          }

     }

     @include laptop {
          .entry-header {
               margin: 0;
               padding: 8rem 8rem 2rem;
               margin-bottom: 4rem;
               max-width: 100%;
               .entry-image {
                    padding: 30%;
               }
          }

          .entry-content {
               h4 {
                    @include font-size(32);
                  }
            
                  h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
                    padding-right: 20rem;
                    max-width: 110rem;
                    margin: 0 auto;
                  }
            
                  .wp-block-media-text {
                    .wp-block-media-text__content {
                      h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
                        padding-right: 20rem;
                        max-width: 110rem;
                        margin: 0 auto;
                      }
                    }
                  }
         
                  

               .ambitos-valores h3{
                    padding:0 0 3rem 0; 
                    margin: 0 auto;
                    max-width: 1220px;
               }

               .wp-block-acf-noticias {
                    .section-title {
                         margin:0 auto;
                    }
               }
          }
     }

     @include large {
          .entry-header {
               margin: 0;
               padding: 8rem 8rem 2rem 6rem;
               .entry-image {
                    padding: 27%;
               }
          }

          .entry-content {
               h4 {
                    @include font-size(32);
                  }
            
                  h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
                    padding-right: 20rem;
                    max-width: 120rem;
                    margin: 0 auto;
                  }
            
                  .wp-block-media-text {
                    .wp-block-media-text__content {
                      h2, h3, h4, h5, p, .wp-block-media-text, .wp-block-quote {
                        padding-right: 20rem;
                        max-width: 120rem;
                        margin: 0 auto;
                      }
                    }
                  }

          }
     }
}