.wp-block-related {
  margin: 2rem 0;
  padding: 2rem 0;


  .post-list {
    display: flex;
    flex-direction: column;
  }

  .entry {
    display: block;
    width: 94%;
    margin: 2rem 3%;

    .entry-image {
      display: block;
      padding-bottom: 75%;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }

    .entry-title {
      text-align: left;
      margin: 2rem 0 0;
      font-family: $fp-bold;
      @include font-size(20);
      line-height:1.2;
      a {
        color:$black;
        &:hover {
          color:$primary;
        }
      }
    }
  }

  .section-footer {
    margin: 3rem 0;
  } //end section footer



  @include sm {

    .post-list {
      display: flex;
      flex-direction: row;
      .entry {
        width: 33.33%;
        margin-left: 0%;
        margin-right: 2%;
        &:last-child {
          margin-right: 0;
        }

      } // end entry
    } // END POT LIST

    .section-footer {
      position: relative;
      .btn {
        position: absolute;
        right: 0;
      }
    } //end section footer

  }
}
