.wp-block-slider {
  margin:1rem 1rem 1.5rem 1rem !important;
  width: calc(100% - 2rem) !important;
  z-index: 0;
  position: relative;


    .owl-item {
      height: 58rem;
    }

  &.rounded {
    border-radius: 1rem;
    img,
    .item {
      border-radius: 1rem;
    }
  }

  .slide {
    position: relative;
    margin-right: 0;
    display: flex;
    flex-direction: column;


    div.button {
      border-radius: 2.5rem;
      max-width: 20rem;
      padding: 1rem 2rem 0.5rem;
      position: absolute;
      bottom: 5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      z-index: 2;
    }


    &.valign-top { justify-content: flex-start; }
    &.valign-middle { justify-content: center; }
    &.valign-bottom { justify-content: flex-end; }

    .slide-claim {
      position: absolute;
      z-index: 10;
      width: 100%;
      text-align: center;
      padding-bottom: 5rem;

      .slide-title {
        text-align: center;
        @include font-size(30);
        font-family: $fp-bold;
        margin: 1rem 2rem 2rem;
        color:$white;
      }
      .slide-subtitle {
        color:$white;
        text-align: center;
        @include font-size(20);
      }
    }

    a {
      &.linknoimg{
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
      }
      &.rounded {
        border-radius: 1rem;
      }
    }

  }

  .slide-image {
    img {
      border-radius:1rem;
      width: 100%;
      height: auto;

      &.for-mobile {
          @include sm {
            display: none;
          }
        }

       &.for-desktop {
         display: none;
         @include sm {
           display: block;
         }
       }
    }
    position: relative;

    .slide-caption{
      position: absolute;
      bottom: 0;
      right: 0;
      left:0;
      background: $white;
      color:$silver;
      text-align:right;
      @include font-size(16);
      line-height: 1.2;
      display: block;
      padding: 1rem 1rem 0 0;
    }
  }

  .owl-theme {
    .owl-stage-outer {
      width: 100%;
    }

    .owl-nav [class*="owl-"]:hover {
      background:transparent;
      color: $white;
    }

    .owl-dots {
      margin: -3.5rem 0 0 0;
      z-index: 1;
      position: relative;

      .owl-dot {
        span {
          width: 0.75rem;
          height: 0.75rem;
          margin: 0.35rem;
          background: $silver;
          display: block;
          border-radius: 3rem;
        }

        &.active span,
        &:hover span  {
          background: $verd;
        }
      }
    }

    .owl-nav {
      position: absolute;
      bottom:4rem;
      width: 100%;
      z-index: 10;

      .owl-prev {
        display: block;
        height: 4rem;
        width: 2rem;
        left:0;
        top:0;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .owl-next {
        display: block;
        height: 4rem;
        width: 2rem;
        right:0;
        top:0;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .icon-prev {
        background: url('../img/prev.svg') center no-repeat;
        background-size: 100%;
        height: 2rem;
        width: 1rem;
        display: block;
      }

     .icon-next {
        background: url('../img/next.svg') center no-repeat;
        background-size: 100%;
        height: 2rem;
        width: 1rem;
        display: block;
      }
    }
  }
  @include sm {

  margin:1rem auto 4rem !important;

  .owl-height {
    height: 66rem;
  }

  .owl-item {
      height: 66rem;
  }

  .slide {
    position: relative;

    .slide-image {
      width: 100%;
      // height: auto;
    }

    .slide-claim {
        padding: 5rem 20% 8rem;
        margin: 0 auto;
        text-align: center;

      .slide-title {
        margin: 0 0 4rem 0;
        @include font-size(45);
        line-height: 1.1;
      }
      .slide-subtitle {
        @include font-size(24);
        line-height: 1.1;
        margin-bottom:4rem;
      }

      .slide-parraf {
        margin-bottom:4rem;
      }
    }
  }


.owl-theme {
    .owl-dots {
      margin: -5rem 0 0 0;

      .owl-dot {
        span {
          width: 1rem;
          height: 1rem;
          margin: 0.5rem;
          background: $morat;
          opacity: .5;
          display: block;
          border-radius: 3rem;
        }

        &.active span,
        &:hover span  {
          opacity: 1;
          background: $morat;
        }
      }
    }

      .owl-nav {
        position: absolute;
        bottom:5rem;

        .owl-prev {
          display: block;
          height: 6rem;
          width: 3rem;
          left:1rem;
          top:0;
          position: absolute;
          -webkit-transition: 0.2s;
          transition: 0.2s;
        }

        .owl-next {
          display: block;
          height: 6rem;
          width: 3rem;
          right:1rem;
          top:0;
          position: absolute;
          -webkit-transition: 0.2s;
          transition: 0.2s;
        }

        .icon-prev {
          background: url('../img/prev.svg') center no-repeat;
          background-size: 100%;
          height: 4rem;
          width: 2rem;
          display: block;
        }

       .icon-next {
          background: url('../img/next.svg') center no-repeat;
          background-size: 100%;
          height: 4rem;
          width: 2rem;
          display: block;
        }
      }
    }
  }

  @include md {
  margin:1rem auto 4rem !important;

  .owl-item {
    height: 70rem;
  }
}
}


.owl-dots.disabled,
.owl-nav.disabled {
  display: none;
}
