.wp-block-media-text {
  .wp-block-media-text__content,
  .wp-block-media-text__media {
    padding: 1rem;
    @include laptop {
      padding: 0 1.5rem;
    } 

    @include large {
      padding: 0 1rem;
    }
  }
}

// .alignwide {
//   padding: 1rem;
//   @include laptop {
//     padding: 0 1.5rem;
//   } 

//   @include large {
//     padding: 0 0;
//   }
// }