.wp-block-relacionado {
  padding-bottom: 2rem;
  margin-top: 6rem !important;
  border-top:0.1rem solid $gray;
  .wp-block-heading {  
      margin: 2rem 0 4rem !important;
      text-align: left;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    li {
      list-style-type: none;
      width: 100%;
      cursor:pointer;
      a {
        display: block;
        line-height: 110%;
        cursor:pointer;
      }
      h3 {
        margin-top: 0;
        line-height: 110%;
      }

      .wp-block-post-featured-image img {
        box-sizing: border-box;
        height: 20rem;
        width: 100%;
        max-width: 100%;
        vertical-align: bottom;
        object-fit: cover;
        transition: transform .2s;
        border-radius: 0.2rem;
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    @include tablet { 
      gap: 1rem;
      li {
        width: calc(50% - 1rem);
      }
    }
  
    @include laptop { 
      gap: 2rem;
      li {
        width: calc(33.33% - 2rem);
      }
    }
  }
}