// LOGO

.wp-block-site-logo {
  width: 100%;
  max-width:16rem;
  
  @include tablet{
    max-width: 10rem;
  }

  @include laptop {
    max-width: 14rem;
  }

   @include large{
    max-width: 16rem;
  }
}



// HEADER PAGES

header.wp-block-template-part {

  padding: 0 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  top:0;
  background-color: $white;

  &.headerup {
    transform: translateY(-13rem);
  }

  &.fullheader {
    transition: 0.35s;
    transform: translateY(0);
    border-bottom: 0.1rem solid $primary;
    // &:before {
    //   position: absolute;
    //   bottom:0;
    //   content:' ';
    //   left: 50%;
    //   transform: translateX(-50%);
    //   display: block;
    //   width: 100%;
    //   height: 0.1rem;
    //   background-color: $primary;
    //   max-width: var(--wp--style--global--wide-size);
    // }
  }

  & + main {
    padding-top: 0;
    top:6.6rem;
  }

  .Sub_Menus {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
  }

  &.fullheader {
    border-bottom: none;
  }
}

// main {
//   margin-top: 0 !important;
// }

// html.has-modal-open  {
//   header.wp-block-template-part {
//     background-color: #000000;
//   &.headerup,
//   &.fullheader {
//     height: 100%;
//     background: transparent;
//     }
//   }
// }


// // HEADER SINGLE

// .single {  
//   header.wp-block-template-part {
//     background-color: transparent;
//     // &.fullheader {
//       // background-color:rgba(255, 255, 255, 0.5);
//     // }

//     .wp-block-site-logo {
//       img{
//         filter: invert(100%);
//       }
//     }
//   }
// }

// html.has-modal-open {
//   .single {
//     header.wp-block-template-part {
//       .wp-block-site-logo {
//         img{
//           filter: invert(0);
//         }
//       }
//     }
//   }
// }