// LOGO

.wp-block-site-logo {
  width: 100%;
  max-width:8rem;
  
  @include tablet{
    max-width: 10rem;
  }

  @include laptop {
    max-width: 14rem;
  }

   @include large{
    max-width: 16rem;
  }
}

// HEADER PAGES

header.wp-block-template-part {
  padding: 0 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  position: relative;
  z-index: 10;
  
  .Sub_Menus {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
  }
}

// main {
//   margin-top: 0 !important;
// }

// html.has-modal-open  {
//   header.wp-block-template-part {
//     background-color: #000000;
//   &.headerup,
//   &.fullheader {
//     height: 100%;
//     background: transparent;
//     }
//   }
// }


// // HEADER SINGLE

// .single {  
//   header.wp-block-template-part {
//     background-color: transparent;
//     // &.fullheader {
//       // background-color:rgba(255, 255, 255, 0.5);
//     // }

//     .wp-block-site-logo {
//       img{
//         filter: invert(100%);
//       }
//     }
//   }
// }

// html.has-modal-open {
//   .single {
//     header.wp-block-template-part {
//       .wp-block-site-logo {
//         img{
//           filter: invert(0);
//         }
//       }
//     }
//   }
// }