@use "variables";


.wp-block-list {
    &.is-style-list-ratllat {
        display: block;
        list-style-type: none;
        border-bottom: 1px solid gray;
        padding-left: 0;

        li {
            padding: 0.35rem 0 0.35rem 0;
            border-top: 1px solid gray;
            margin-top: 0;
        }
    }
}


.wp-block-list {
    &.is-style-list-clean {
        display: block;
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 0.35rem 0 0.35rem 0;
            margin-top: 0;
        }
    }
}

.listado {

    .noticia {
        position: relative;

        .noticia_header {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5rem 0.75rem 0.5rem 0.75rem;
            border-radius: 0 0 0.3rem 0.3rem;
            background: linear-gradient(180deg, #004a6400 0%, #004a64ee 100%) !important;

            .wp-block-post-title {
                margin: 0.5rem 0 0 0;

                a {
                    transition: 0.3s;
                    text-decoration: none;
                    @include variables.font-size(14);
                    line-height: 120%;
                    font-style: normal;
                    font-weight: 300;

                    &:hover {
                        text-decoration: none;
                        opacity: 0.9;
                    }
                }
            }

            .taxonomy-category a[rel=tag] {
                font-weight: 100 !important;
                @include variables.font-size(11);
                line-height: 125%;
                margin-bottom: 0.5rem;

            }
        }
    }

    @include variables.laptop {
        .noticia {
            .noticia_header {
                padding: 5rem 1.25rem 1.25rem 1.25rem;

                .wp-block-post-title {

                    a {
                        @include variables.font-size(16);
                    }
                }

                .taxonomy-category a[rel=tag] {
                    @include variables.font-size(12);
                }
            }
        }
    }

    /*
    @include variables.large {
        .noticia {
            .noticia_header {
                padding: 1rem;

                .wp-block-post-title {
                    margin-bottom: 0;
                    @include variables.font-size(40);
                }
            }

        }
    }
*/
}

.wp-block-post-featured-image__overlay.has-background-dim {
    background-color: #0d5374 !important;
}