
// ICO MENU

body {
  &.active {
    position: fixed;

    .menu-content {
      margin: 0 !important;
    }
  }
}

.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open{
  background-color: transparent;
  padding: 0 2rem;
  svg {
    height: 2rem !important;
    width: 2rem !important;  

    @include large {
      height: 3rem !important;
      width: 3rem !important;  
    }
  }
}

/* LENGUAGE NAV */

header.wp-block-template-part {
.menu-butons{
  #btn-open,
  #btn-close {
    width: 30px;
    height: 30px;
  }

  #btn-close {
    display: none;
    &:hover {
      cursor:pointer;
    }
    &.active {
      display: block;
      z-index: 1;
      position: absolute;
      top: 2rem;
      right: 1rem;
      justify-content:center;
      
    }
  }

  @include large {
      #btn-open,
      #btn-close {
        width: 0 !important;
        height: 0 !important;
        display: none;
        img {
          width: 0 !important;
        }
      }
    }
  }
}



nav.menu {
  .wp-block-navigation-item {
    margin-left: 1rem;
    a { 
      color:$primary;
      padding-bottom: 1.5rem;
      &:hover {
        text-decoration: none;
      }
    }
    
    &.submenu {
      position: relative;
      padding-right: 1rem;
      &:after {
        content:' ';
        background:url('../images/ICO_SUBMENU.svg') center right no-repeat;
        background-size: 100%;
        position: absolute;
        display: block;
        right: -0.1rem;
        top: 0.35rem;
        width: 0.8rem;
        height: 0.55rem;
      }
      &:hover {
        &:after {
          content:' ';
          transform: rotate(180deg);
        }
      }
    }
    &.current-menu-item {
      padding-right: 0;
      a {
        color:$white !important;
        border-radius: 1rem;
        border:0.15rem solid $primary !important;
        padding: 0.25rem 1rem 0.2rem;
        transition: 0.2s;
        background-color: $primary;
        margin-top: -1.5rem;
      }
      &.submenu {
        &:after {
           content:none;
        }
      }
    }
  } 
}

nav.menu-contacto {
  margin-top: 1.5rem;
  .wp-block-navigation-item {
    margin-left: 1.5rem;
    a {
      color:$gray !important;
      font-weight: 200;
      padding-bottom: 0;
    }
    &.btn-centro {
      a {
        font-weight: 500;
        color:$primary !important;
        border-radius: 1.5rem;
        border:0.15rem solid $primary !important;
        padding: 0.35rem 1rem 0.3rem 2.2rem; 
        transition: 0.2s;
        &:hover {
          text-decoration: none;
        }
        &:after {
          content:' ';
          background: url('../images/ICO_UBICACION.svg') center right no-repeat;
          background-size: 90%;
          position: absolute;
          display: block;
          left: .7rem;
          top: .4rem;
          width: 1.2rem;
          height: 1.4rem;
        }
      }
      &:hover {
        a {
          background-color: $primary;
          color:$white !important;
          &:after {
            filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(8%) hue-rotate(166deg) brightness(102%) contrast(104%);
          }
        }
      }
    }

    &.btn-donar {
      a {
        font-weight: 500;
        color:$white !important;
        border-radius: 1.5rem;
        border:0.15rem solid $primary !important;
        padding: 0.35rem 2.2rem 0.3rem 1rem;
        transition: 0.2s;
        background-color: $primary;
        &:hover {
          text-decoration: none;
        }
        &:after {
          content:' ';
          background: url('../images/ICO_CORAZON.svg') center right no-repeat;
          background-size: 100%;
          position: absolute;
          display: block;
          right: .65rem;
          top: .5rem;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      &:hover {
        a {
          background-color: $white;
          color:$primary !important;

           &:after {
            filter: brightness(0) saturate(100%) invert(38%) sepia(90%) saturate(3431%) hue-rotate(172deg) brightness(85%) contrast(101%);
          }
        }
      }
    }
  }
}