@use "variables";


.wpforms-container {
  background-color: #ffffff;
  width: 100%;
  button[type="submit"] {
    background-color: #007fad !important;
  }
  .wpforms-field {
    .wpforms-field-medium {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      border-radius: 3px;
     
      color:rgb(0, 0, 0);
      &::placeholder {
        color:rgb(105, 105, 105);
        font-weight: 400;
        
      }
    }
  }

  input.wpforms-field-medium,
  select.wpforms-field-medium,
  .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
    background-color: #ffffff;
  }

  label.wpforms-field-label-inline {
    color:#000000;
  }
  .wpforms-submit-container {
    text-align: right;
    padding:0;
    .wpforms-submit {
      font-weight: bold;
      letter-spacing: 0.05rem;
       background-color: aqua;
    }
  }

}

div.wpforms-container-full .wpforms-confirmation-container-full,
div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
}


div.wpforms-container-full .wpforms-confirmation-container-full p,
div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) p {
  color: #ffffff;
}

footer.wp-block-template-part {
  .wpforms-submit-container {
    text-align: right;
    .wpforms-submit {
      background-color: #ffffff ;
      color:#000000 ;
    }
  }

  div.wpforms-container-full .wpforms-confirmation-container-full,
  div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
  }


  div.wpforms-container-full .wpforms-confirmation-container-full p,
  div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) p {
    color: #000000;
  
  }
}



.contact-page {
  .wpforms-container {
    background-color: #ffffff;
    width: 100%;
    box-shadow: none ;
    
    .wpforms-field {
      .wpforms-field-medium {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        border-radius: 0;
        color:variables.$gray;
        &::placeholder {
          color:variables.$gray;
          font-weight: 400;
        }
      }
    }
  
    input.wpforms-field-medium,
    select.wpforms-field-medium,
    .wpforms-field-row.wpforms-field-medium {
      max-width: 100%;
      background-color: variables.$white;
    }
  
    label.wpforms-field-label-inline {
      color:variables.$gray;
    }
    .wpforms-submit-container {
      text-align: right;
      padding:0;
      .wpforms-submit {
        font-weight: bold;
        letter-spacing: 0.05rem;
      }
    }
  
  }

  div.wpforms-container-full .wpforms-confirmation-container-full,
div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
  background: #ffffff;
  border: 1px solid variables.$gray;
  box-sizing: border-box;
}

}

.wpforms-form .wpforms-field.wpforms-field-select-style-classic select {
  padding-inline-start: 0 ;
  option.placeholder {
    font-size: 0.875rem ;
    line-height: 100% ;
  }
}

.div.wpforms-container-full .wpforms-confirmation-container-full p,
div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) p {
  color:variables.$black;
}

.downloadPager {
    padding: 0;
    margin: 0;
    gap: 0;
    transition: 0.15s;
  .wpforms-container  {
    display: none;
    padding: 0 ;
    margin: 0 ;
    width: 100%;

    .wpforms-field-medium {
      background-color: #ffffff;
      color:gray;
      &::placeholder {
        color:gray;
        padding-left: 0.5rem;
      }
    }

    .wpforms-field-label-inline {
      color:variables.$black;
    }
    
    &.display-box {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 1rem ;
      display: block;
      --wpforms-container-shadow-size-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }


  .wp-block-button.hide {
  display:none;
  } 
}

