
#wpbody .block-editor .editor-styles-wrapper{
    background: #fff;
    @import './variables.scss';
    @import './generics.scss';
    @import './buttons.scss';
    @import './animacions.scss';
    @import './wpforms.scss';
    @import './nav.scss';
    @import './listados.scss';


    
// GENERIC

a {
  text-decoration: none;
}


em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.alignfull {
  width: 100%;
  max-width: 100%;
}

.wp-block-columns .wp-block {
  margin-left: auto;
  margin-right: auto;

  &.block-center {
    margin:0 auto;
  }
}

.editor-styles-wrapper .wp-block-group {
  background-color: transparent;
  color: var(--wp--preset--color--base-2);
  margin-top: 0;
}



.alignwide {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

// CONTAINER FLUID
.content-area {
  margin: 0 auto;
  width: 100%;
}

.wp-post-image,
.img-responsive {
  width: 100%;
  height: auto;
}

.wp-post-image img,
.img-responsive img{
  width: 100%;
  height: auto;
}

.img-circular { border-radius: 50%;}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.hide { display: none; }

.alignwide {
  margin: 0 auto !important;
  width: 100% !important;
  max-width: $max-width !important;
}

.aligncenter {
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 80rem !important;
}

.float-left {float:left;}
.float-right {float:right;}

.to-top {
  float: right;
  margin: 2rem 1rem 0 0;
  cursor:pointer;
}

.redondeado {
  border-radius:1rem ;
}



.wp-block-image figcaption {
    margin-top: 2rem;
    margin-bottom: 1em;
    font-size: 17px !important;
}

.editor-post-title .editor-post-title__input {
    font-size: 3.44em;
    font-weight: 900;
    line-height: 1.2;
}
 p {
  font-size: 1.4rem;
  line-height: 1.65;
}

  .slide-testimonial {
    max-width: 10rem !important;
  }



    h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1;
    margin: 3rem auto;
  }

  h4 {
    font-size: 20px;
    font-size: 2rem;
  }
  

}


// ADMIN THUMNAILS

#the-list .has-post-thumbnail .column-featured_thumb .attachment-admin-list-thumb {
  max-width: 10rem;
  height: auto;
}

/* ACF */

.acf-bl > li {
  font-size: 16px !important;
}

/* BORER IMAGES */

img {
  border: none !important;
}