.error404 {
    .flex {
        padding: 2rem;
        .mesage {
            width: 100%;
            .search-form {
                display: flex;
                flex-direction: row;

                .search-submit {
                    padding: 0.5rem 1rem;
                    border:none;
                    border-radius: 15px;
                    background-color: $primary;
                    color:$white;
                    @include font-size(18);
                    width: 30%;
                }
                .search-field {
                    @include font-size(18);
                    padding: 0.5rem 1rem;
                    border:1px solid #ddd;
                    border-radius: none;
                    margin-right: 1rem;
                    width: calc(70% - 1rem);
                }
                p {
                    margin-bottom: 0;
                }
            }
           
            .page-header {
                span{
                    @include font-size(16);
                    display: block;
                }
            }
        }

        .image {
            width: 100%;
        }
    }

        @include sm {
            .flex { 
            .image {width: 50%;}
            .mesage {width: 50%; padding-left: 2rem;}
            }
       

        .section-header {
            .section-title {
                text-align: center !important;
            }
        }
    
    }
}
