.about {
    .menu {
    margin-bottom: 2rem;
    a {
      color:$white;
      text-transform: uppercase;

      letter-spacing: 0.01rem;
    }
  }

  .section-content {
    background: $white;
    p{
      display: block;
      margin: 1rem;
      @include font-size( 16);
    }

    .entry-header {
      opacity: 1;
      top:1rem;
      left:1rem;
      .entry-content {
        color: $white;
        @include font-size( 16);
        line-height: 1.5;
      }
    }
  }
}
