/* AUDI LIST */

.gravacio-directe {
  position: fixed;
  top: 3.8rem;
  right: 8rem;
  width: 4rem;
  z-index: 999;
  width: 100%;

   > a {
    display: none;
  }

  @include sm {

    position: relative;
    top:0.5rem;
    // max-width: 82rem;
    width: 70%;
    > a {
      color:$secondary;
      display: block;
      position: absolute;
      top: 1rem;
      right: -10rem;
      text-transform: uppercase;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // @media (min-width: 70rem) {
  //   max-width: 100rem;
  // }

  @include md {

    top:1rem;
    max-width: 130rem;
    left: 3rem;

    &.fix {
      position: fixed;
      top:1rem;
      left:22rem;
      width: 80rem;
    }
  }
}



.body-fixed .gravacio-directe {
  top: 1.5rem;
}



.play-list {
  display: none;
  top:0;
  right:0;
  bottom: 0;
  width: 0;
  position: absolute;
  background: $secondary;
  padding: 4rem 0;
  color:$white;
  transition: 0.25s;
  z-index: -10;

  .section-title {
    margin: 0 2rem 2rem 2rem;
    text-transform: uppercase;
  }

  .close-btn {
    opacity:0;
  }

  &.active {
    display: block;
    width: 85vw;
    right: 0;
    z-index: 40;

   .close-btn {
     opacity:1;
     position: absolute;
     top: 2rem;
     right: 2rem;
     height: 3rem;
     width: 3rem;
     // z-index: 40;
   }

   @include md {
      width: 40rem;
   }
  }
}

.audio-list {

  margin: 1rem;
  display: block;
  width: 95%;

  h3 {
    font-size: 2rem;
    line-height: 1.5;
    margin: 2rem 0 1rem 1rem;
    display: block;
    max-width: 35rem;
    text-transform: uppercase;
  }
  li {
    display: table-row;
    .audio-player {
      max-width: 300px !important;
    }

    &:last-child {
      text-align: center;
      a {
        display: block;
        margin: 2rem auto;
      }
      img {
        margin: 0 auto;
        max-width: 14rem;
      }
    }

    .mytheme-mejs-container {
      max-width: 300px !important;
    }
  }
}
