


/* BLOCKS ALIGNS */

p + .alignfull,
p + .alignwide {
	margin-top: 0em;
}

.alignwide {
	margin-top: 0em;
  max-width: 50vw;
  margin:0 auto;
}

/* BLOCK HEADER */

.wp-block-header {
  display: flex;
	margin:0;
	align-content:stretch;
	height: 97.5%;
  justify-content: center;
  align-items:center;


  .header-title {
		font-family: $fp-light;
    margin: 4rem 2rem;
    display: block;
    color:$white;
    @include font-size(20);
    line-height: 1.25;
    position: relative;
    text-align: center;
  }

  &.blue {
    background-color: $primary;
    .header-title::before {
      position: absolute;
      top:-2rem;
      left:0;
      right:0;
      content:' ';
      border:none;
      margin: 0 auto;
      width: 3rem;
      height: 1rem;
      background: url('../img/red-white-red.svg') center left repeat-x;
      background-size: 100%;
    }

    .header-title::after {
      position: absolute;
      bottom: -2.5rem;
      left:0;
      right:0;
      content:' ';
      border:none;
      margin: 0 auto;
      width: 3rem;
      height: 1rem;
      background: url('../img/red-white-red.svg') center left repeat-x;
      background-size: 100%;
    }

  }

  &.red {
    background-color: $secondary;
    .header-title::after {
      position: absolute;
      top:-2rem;
      left:0;
      right:0;
      content:' ';
      border:none;
      margin: 0 auto;
      width: 3rem;
      height: 1rem;
      background: url('../img/blue-white-blue.svg') center left repeat-x;
      background-size: 100%;
    }

    .header-title::before {
      position: absolute;
      bottom:-2.5rem;
      left:0;
      right:0;
      content:' ';
      border:none;
      margin: 0 auto;
      width: 3rem;
      height: 1rem;
      background: url('../img/blue-white-blue.svg') center left repeat-x;
      background-size: 100%;
    }
  }

	@include sm {
		border-left:0px solid white;
		border-right:0px solid white;
	}
}

/* ACCORDION */


.wp-block-accordion {
	overflow: hidden;
 	background: $silver;
	border-top:1rem solid white;
	border-left:1rem solid white;
	border-right:1rem solid white;

	input {
	  position: absolute;
	  opacity: 0;
	  z-index: -1;
	}

	.entry-antetitle {
		margin: 1.5rem 1rem 0rem 1.2rem;
		font-family: $fp-bold;
		@include font-size(12);
		line-height: 1.25;
		text-transform: uppercase;
		display: block;
			@include sm {
				@include font-size(12);
				margin: 2rem 2rem 1rem 2.2rem;
			}
	}

	.entry-title {
		margin: 0rem 1rem 0 1rem;
		font-family: $fp-light;
		@include font-size(20);
		line-height: 1.25;
		text-transform: uppercase;
		display: block;

			@include sm {
				margin: 0rem 2rem 0 2rem;
				padding-right: 30%;
				@include font-size(23);
			}
	}

	.acc-header {
		position: relative;
	  display: flex;
		flex-direction: column;
	  cursor: pointer;
		margin-bottom:-1rem;
	  div {
			width: 100%;
			line-height: 1;
			@include font-size(0);

			&:first-child {
				order: 2;
				padding-bottom: 2rem;
			}

			&:last-child {
				order: 1;
				img {
					width: 100%;
					height: auto;
				}
			}
		}

		@include sm {
		flex-direction: row;
		 justify-content: space-between;
			div {
				width: 50%;
				&:first-child {
					order: 1;
				}

				&:last-child {
					order: 2;
				}
			}
		}

	}
	.acc-header:hover {
	  background: $silver;
	}
	.acc-header::after {
	  content: " ";
		background: url('../img/ico-more.svg') center no-repeat;
		background-size: 100% 100%;
	  width: 2rem;
	  height: 2rem;
	  text-align: center;
	  transition: all 35s;
		// top: 65%;
		right: 1.5rem;
		position: absolute;

    top: calc(36.23762376 * 0.34rem);

			@media xs {
				top: calc(36.23762376 * 0.675rem);
			}

			@include sm {
				top:2rem;
				right: calc(50% + 2rem);
			}
	}

	.acc-entry-content {
	  max-height: 0;
	  transition: all 35s;
		font-family: $fp-light;
		@include font-size(12);
		line-height: 1.2;

		ul, p {
			margin:	0 0 0 0.5rem;
			display: block;
			padding: 2rem 0;
			line-height: 0;

		}

		@include sm {
			margin:0 2rem 0 2rem;
			@include font-size(14);
		}
	}

	input:checked + .acc-header {
		// background: $silver;
	}
	input:checked + .acc-header::after {
	  -webkit-transform: rotate(180deg);
	          transform: rotate(180deg);
	}
	input:checked ~ .acc-entry-content {
	  max-height: 100vh;
	  // padding: 1em;
	}

	@include sm {
		border-left:0px solid white;
		border-right:0px solid white;
	}
}

/* VIDEO */


figure.is-type-video {
  .wp-block-embed__wrapper {
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	}

	.wp-block-embed__wrapper iframe,
	.wp-block-embed__wrapper object,
	.wp-block-embed__wrapper embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}



/* TEXT IMAGE */

.wp-block-imagetext {
		border-top:1rem solid $white;
		border-bottom:1rem solid $white;
	  height:60rem;
		display: flex;
		flex-direction: column;
		.entry-text,
		.entry-image {
			width: 100%;
			min-height: 30rem;
		}

		.entry-text {
			order:1;
			padding:5rem 2rem 2rem;

			.entry-antetitle {
				font-family: $fp-light;
				text-transform: uppercase;
				display: block;
				margin-bottom: 1rem;
			}

			.entry-title {
				@include font-size(26);
				line-height: 1.15;
				font-family: $fp-light;
				text-transform: uppercase;
				margin-bottom: 2rem;
				position: relative;
				font-weight: lighter;

				&::before {
					position: absolute;
					top: -2rem;
					content:' ';
					border:none;
					width: 3rem;
					height: 1rem;
					background: url('../img/red-blue-red.svg') center left repeat-x;
					background-size: 100%;
				}
			}

			.entry-description {
				padding: 0 0 2rem;
				p {
					text-align: left;
					@include font-size(14);
					line-height: 1.5;
					font-family: $fp-light;
					color:$gray-dark;
				}

			}

		}

		.entry-image {
			order:2;
			img {
				width: 100%;
				height: auto;
			}
		}

		@include sm {
			flex-direction: row;
			height: 32rem;

			.entry-text {
				order:2;
			}

			.entry-image {
				order:1;
				img {
					width: auto;
					height: 100%;
				}
			}

		}

		@include md {
			height: 47rem;
			.entry-text,
			.entry-image {
				width: 50%;
			}

			.entry-text {
				order:2;
			}

			.entry-image {
				order:1;
				img {
					width: auto;
					height: 100%;
				}
			}


			.entry-text {
				padding: 8rem;
				.entry-title, p {
					max-width: 32rem;
					display: block;
				}
			}

			&.aling-right {
				.entry-text {
					order:1;
				}
				.entry-image {
					order:2;
				}
			}

			&.aling-left {
				.entry-title, p {
					text-align: right !important;
					float: right;
				}

				.entry-title::before {
					right:0.25rem;
				}


				p {
					@include font-size(14);
				}
			}
		}

		&.red-white-red {
			.entry-text {
				.entry-title::before {
					width: 3rem;
					height: 1rem;
					background: url('../img/red-white-red.svg') center left repeat-x;
					background-size: 100%;
				}
			}
		}

		&.blue-white-blue {
			.entry-text {
				.entry-title::before {
					width: 3rem;
					height: 1rem;
					background: url('../img/blue-white-blue.svg') center left repeat-x;
					background-size: 100%;
				}
			}
		}

}



.alignwide {
  max-width: none;
  @include md {
      // width: $max-width;
			width: 50vw;
      margin-left: calc( 50% - 50vw / 2 );
  }
}

// .alignfull {
//     width: 100vw;
//     margin-left: calc( 50% - 50vw );
//     max-width: none;
// }

.seccio.alingfull {
	width: 100% !important;
	margin-left: auto;
}

/* CONTACTO */
.contacto {
	min-height: auto;
	.wp-block-header {
		height:23.35rem;
		a {
			color:$white;
			&:hover {
				text-decoration:underline;
			}
		}

		&.red {
			h2 {
				span {text-transform:uppercase; @include font-size(11);}
				@include font-size(20);
				line-height: 1.2;
				a {
					color:$white;
					&:hover {
						text-decoration:underline;
					}
				}
				@include sm {
					@include font-size(26);
					line-height: 1.2;
				}
			}

		}

	}
}


/* COLUMNS */

.wp-block-image {
	margin-bottom: 0;
}

.wp-block-column:not(:last-child){
	margin-right: 0;
  @include md {
		margin-right: 1rem;
	}
}
.wp-block-column:not(:first-child) {
	margin-left: 0;
  @include md {
		margin-left: 1rem;
	}
}

/* BLOCK PERSON */

.equipo {
	.equipo-columns {
		.wp-block-column{
			background: $silver;
		}
	}
}

.wp-block-person  {
	width: 100%;
	background: $silver;
	figure {
		width: 100%;
		display: block;
		background: $white;
	}
	.separador {
		margin:0;
		background-color: $white;
		height: 2rem;
		border-bottom: 0.2rem solid $white;
	}

	.personal-data {
		display: block;
		background-color: $silver;
		color:$black;
		padding: 1rem 1rem 1rem 1rem;
		.entry-title {
			font-family:$fp-bold;
			text-transform: uppercase;
			@include font-size(28);
			line-height: 1.1;
			display: block;
			position: relative;
			margin-bottom:3.4rem;
		}

		.entry-subtitle {
			text-transform: uppercase;
			color:$white;
			font-family:$fp-light;
			@include font-size(14);
			font-weight: normal;
			margin-bottom: 0;
		}
	}

	&.blue .personal-data {
		background-color: $primary;
		.entry-title {
			color:$secondary;

			&:after {
				content:' ';
				width: 3rem;
				height: 1rem;
				background: url('../img/red-white-red.svg') center no-repeat;
				background-size: 100% 100%;
				position: absolute;
				display: block;
				left:0;
				bottom:-2rem;
			}
		}
	}

	&.red .personal-data {
		background-color: $secondary;
		.entry-title {
			color:$primary;

			&:after {
				content:' ';
				width: 3rem;
				height: 1rem;
				background: url('../img/blue-white-blue.svg') center no-repeat;
				background-size: 100% 100%;
				position: absolute;
				display: block;
				left:0;
				bottom:-2rem;
			}
	}
}

	ul.social-nav {
		display: block;
		margin:1rem 0 2rem 0;
		li {
			display: inline-block;
			margin:0 0 0 0;
			width: 3rem;
			height: 3rem;
			img {
				width: 100%;
				height: auto;
			}
			&:before {
				background: none;
			}
		}
	}

	.person-content {
		padding: 0 0rem 1rem 0rem;
		font-family: $fp-regular;
		color:$gray-dark;
		@include font-size(12);
		line-height: 1.1;
	}

	@include sm {
		.personal-data {
			padding: 2rem 2rem 1rem 3rem;
			.entry-title {
				@include font-size(32);
			}

			.entry-subtitle {
				@include font-size(16);
				margin-bottom: 1rem;
			}
		}
		.person-content {
			@include font-size(16);
			padding:0 2rem 3rem 2rem;
		}
	}

}


.tics-equipo {
	.wp-block-column {
		margin-bottom: 0;
	}


	.wp-block-pullquote {
		font-family: $fp-light;
		text-transform: uppercase;
		margin: 0.5rem 0 2rem 0;
		&.is-style-solid-color
			blockquote {
					height: 10rem;
					max-width: 70%;
			p {
				margin-top: 2rem;
				@include font-size(16);
				line-height: 1.4;
				text-align: center !important;
			}
		}
	}

}

.section-title {
	font-family: $fp-light;
	@include font-size(16);
	line-height: 1.34;
	display: block;
	position: relative;
	margin-top: 2rem;
}



/* SLIDER */


.slider {
  width: 100%;
	position: relative;

    .owl-nav {
      position: absolute;
      top: 38.5%;
      width: 95%;
			width: 100%;
			z-index: 999;

      .owl-prev {
        display: block;
        height: 58px;
        width: 29px;
        left: 5px;
        top:0;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .owl-next {
        display: block;
        height: 58px;
        width: 29px;
        right:5px;
        top:0;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .icon-prev {
        background: url('../img/prev-white.svg') center no-repeat;
        background-size: 100%;
        height: 58px;
        width: 29px;
        display: block;
      }

     .icon-next {
        background: url('../img/next-white.svg') center no-repeat;
        background-size: 100%;
        height: 58px;
        width: 29px;
        display: block;
      }
    }

    .entry-image {
      max-width: 100%;
        a { display: block; }
    }

    .entry-caption {
			min-height: 2rem;
			margin-top: 1rem;
			p {
				color:$primary;
				@include font-size(14);
				text-align: left;
				line-height: 1.5;

			}
    }

  .slide-num {
    position: absolute;
    font-family: $fp-regular;
    top: 90%;
    right: 0;
    z-index: 1;
    line-height: 2;
    color:$white;
    @include font-size(14);
    letter-spacing: 0.25rem;
    .num {
      color:$white;
    }
  }

  @include md {
      .owl-nav {
        width: 100%;

        .owl-prev { left:20px; }
        .owl-next { right:20px; }

        .icon-prev { background: url('../img/prev-white.svg') center no-repeat; }
        .icon-next { background: url('../img/next-white.svg') center no-repeat; }
      }
  	}
}

.productos .slider {
	.entry-caption {
		p {color:$black;}
	}

	.slide-num {
		color:$black;
		.num {
			color:$black;
		}
	}
}
