º.wp-block-button {
    margin:0 auto;
    text-align: center;

    .wp-block-button__link {
      color: #fff;
      background-color: silver;
      border:0.1rem solid silver;
      border-radius: 3rem;
      box-shadow: none;
      cursor: pointer;
      display: inline-block;
      @include font-size(14);
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      line-height: 1;
      padding:0.9rem 2rem .6rem;
      text-align: center;
      text-decoration: none;
      overflow-wrap: break-word;

      &:hover {
        opacity: 0.75;
      }
    }

    &.is-style-outline {
      .wp-block-button__link {
        background: transparent;
        border:0.1rem solid silver;
        color:silver;
      }
    }

    @include sm {
        .wp-block-button__link {
          @include font-size(14);
        }
    }

}

a.button {
  background: $verd;
  color:$white;
  text-transform: uppercase;
  text-align: center;
  border-radius:5rem;
  text-decoration: none;
  margin: 0 2rem;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  padding: 0 2rem;
  transition: 0.25s;

  &:hover {
    opacity: 1;
    color: $white;
    background: $verd-fosc;
  }

  &.button-pequeno {
    @include font-size(12);
    line-height: 1.4;
    padding: 0.5rem 1rem 0.3rem;
    margin: 0 auto;
    text-align: center;

    @include sm {
      @include font-size(14);
      line-height: 1.5;
      padding: 0.5rem 2rem 0.3rem;
    }
  }

  &.button-medio {
    @include font-size(18);
    line-height: 1.5;
    padding:1rem 3rem .75rem;
  }

  &.button-grande {
    @include font-size(16);
    line-height: 2;
    padding: 1rem 2rem 0.75rem;

      &.outline {
        border:0.1rem solid $verd !important;
        color:$verd !important;
        background: transparent !important;
        transition: 0.25s;
        &:hover {
          opacity: 1;
          color: $verd-fosc !important;
          background: transparent;
          border:0.1rem solid $verd-fosc !important;
        }
      }

    @include sm {
      .button-grande {
        @include font-size(18);
        padding: 2rem 4rem 1.5rem;
      }
    }

  }

  &.btn-verd {
    background-color: $verd;
    &:hover {
      opacity: 0.8 !important;
    }
  }

  &.btn-blanc {
    background-color: $white;
    color:$morat;
    &:hover {
      opacity: 0.8 !important;
    }
  }

  &.btn-morat {
    background-color: $morat;
    &:hover {
      opacity: 0.8 !important;
    }
  }

  &.btn-corpo {
    background-color: $corporatiu;
    color:$white;
    &:hover {
      opacity: 0.8 !important;
    }
  }

}


.ub-button-medium {
	min-width: 240px;
	padding: 15px;
	font-size: 17px !important;

	@include sm {
		min-width: 275px;
	}
}


.site-footer {
  a.button {
    margin: 2rem auto 1rem;
    padding: 1rem 2rem;
    @include font-size(14);
    background: transparent;
    border:0.1rem solid $crema;
    line-height: 2;
    &:hover {
      background: $crema;
      color:$morat;
    }
  }

  @include sm {
    @include font-size(18);
    margin: 3rem auto 1rem;
    padding: 1rem 2rem;
  }
}


.ub-button-container a {
  border-width: 1px !important;
}


.cli-style-v2 .cli-bar-btn_container .cli-plugin-button {
  border-radius: 8px !important;
}
