/* EVENTS HOME */

.events-list {

	hr {
		margin: 1rem;
		background: $white !important;
		border:none;
		height: 1px;
	}



	&.active {
		overflow-y: auto;
	}

	.tribe-events-sub-nav {
		a {
			text-transform: uppercase;
			color:$white !important;
		}
	}


	.seccio.calendari,
	.post-type-archive-tribe_events {
		max-width:175rem;
		margin:0 auto;
		color:$white;

		.section-title {
			text-transform: uppercase;
			color:$white;
			@include font-size(50);
			font-family: $fp-light;
			display: block;
			margin: 4rem 1rem 0 1rem;
		}

		.tribe-events-page-title {
			margin: 2rem 0 -2rem 0;
		}


	  .tribe-events-title-bar {
			display:block;
	  }

		#tribe-bar-form {
			display: none !important;
		}

		.tribe-bar-disabled {
			display: block;
		}

		.tribe-events-calendar {
			margin: 1rem;
		}

		.tribe-events-calendar thead th {
	    background-color: transparent;
			color:$white;
			font-weight: normal;
			padding: 1em 0;
			white-space: nowrap;
			border-left: 1px solid $white;
			border-right: 1px solid $white;
			border-top: 1px solid $white;
			@include font-size(18);
		}

		#tribe-events {
			margin: 1rem;
		}

		#tribe-events-content .tribe-events-calendar td {
	    box-sizing: border-box;
	    color:$white;
	    @include font-size(18);
	  }


		.tribe-events-calendar td.tribe-events-past .tribe-events-month-event-title a,
		.tribe-events-calendar td.tribe-events-past .tribe-events-viewmore a {
			opacity: 1;
		}

		.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"],
		.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a,
		.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*="tribe-events-daynum-"],
		.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*="tribe-events-daynum-"] > a, {
	    background-color:transparent;
			color:$white;
			@include font-size(18);
		}

		.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
	    background-color: transparent;
			color:$white;
			@include font-size(18);
		}
		#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
	    background:transparent;
		}

		#tribe-events-content .tribe-events-calendar td {
		border: 1px solid $white;
		transition: all .2s cubic-bezier(.55,.085,.68,.53);
		}

		#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
	    font-family: $fp-light;
	    @include font-size(18);
			text-transform: uppercase;
	  	color:$white;
			a {
				color:$white;
			}
		}

		.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip,
		.tribe-events-shortcode.view-week .tribe-events-tooltip,
		.tribe-events-week .tribe-events-tooltip {
	    border: 1px solid $white;
	    background-color:$secondary;
			color:$white;
	    padding: 0.5em;
	    box-shadow: 0 0 0 rgba(0,0,0,0);
			.entry-title {
				font-family: $fp-light;
				text-transform: uppercase;
				color:$white;
				font-weight: normal;
				@include font-size(22);
			}
		}

		.tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	    left: auto;
	    right: 30px;
		}

		.tribe-events-tooltip .tribe-events-arrow {
	    width: 4rem;
	    height: 2rem;
	    background-image: url('../img/corner-window.png') !important;
	    background-size: 4rem 2rem;
	    bottom: -1rem;

	  }

		.tribe-events-tooltip .tribe-events-event-body {
	  	@include font-size(16);
	    padding: 0;
		}

		.tribe-events-present {
			background: #AA7B53;
			color:$white;
			div[id*="tribe-events-daynum-"],
			div[id*="tribe-events-daynum-"] a {
				color:$white ;
			}


			.tribe-events-month-event-title a{
				color:$white !important;
			}

			&:hover {
				cursor:pointer;
				background: $white !important;
				  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
					div[id*="tribe-events-daynum-"],
					div[id*="tribe-events-daynum-"] a {
						color:$secondary !important;
					}
					.tribe-events-month-event-title a{
						color:$secondary !important;
					}
				}
			}

			.tribe-events-thismonth {
				background: #AA7B53;
				color:$white;
				div[id*="tribe-events-daynum-"],
				div[id*="tribe-events-daynum-"] a {
					color:$white ;
				}

				&:hover {
					cursor:pointer;
					background: $white !important;
						box-shadow: 0 0 0 rgba(0,0,0,0) !important;
						div[id*="tribe-events-daynum-"],
						div[id*="tribe-events-daynum-"] a {
							color:$secondary !important;
						}
						.tribe-events-month-event-title a{
							color:$secondary !important;
						}
					}
				}

	}


	#tribe-events .tribe-events-button,
	#tribe-events .tribe-events-button:hover,
	#tribe_events_filters_wrapper input[type="submit"],
	.tribe-events-button, .tribe-events-button.tribe-active:hover,
	.tribe-events-button.tribe-inactive,
	.tribe-events-button:hover,
	.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
	.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
		background-color: transparent;
	}

	.ect-list-post .ect-list-venue .ect-venue-details,
	.ect-list-post .ect-list-venue .ect-google a,
	.modern-list-venue, .modern-list-venue .ect-google a,
	#ect-grid-wrapper .ect-grid-venue,
	#ect-carousel-wrapper .ect-carousel-venue,
	#ect-slider-wrapper .ect-slider-venue,
	#ect-accordion-wrapper .ect-accordion-venue {
		display: none;
	}


	.ect-list-post .ect-list-post-left .ect-list-date .ect-date-area,
	.ect-list-post .ect-list-post-left .ect-list-date span.ect-custom-schedule,
	.modern-list-right-side .ect-list-date .ect-date-area,
	.modern-list-right-side .ect-list-date span.ect-custom-schedule,
	.style-3 .ect-list-date .ect-date-area,
	.style-3 .ect-list-date span.ect-custom-schedule,
	.ect-modern-time,
	#ect-grid-wrapper .ect-grid-date,
	#ect-carousel-wrapper .ect-carousel-date,
	#ect-slider-wrapper .ect-slider-date,
	#ect-accordion-wrapper .ect-accordion-date,
	#ect-accordion-wrapper.ect-accordion-view span.month-year-box {
	  font-family: inherit;
	  color:$white;
		@include font-size(20);
	  font-weight: normal;
	  font-style: normal;
	  line-height: 1em;
	  width: 100%;
	  text-transform: uppercase;
	}

	.style-1 .ect-carousel-date {
	    position: inherit !important;
	    top: 0 !important;
	    left: 0 !important;
	    width: 100%;
	    margin: 0;
	    margin-top: 0px;
	    margin-top: 0;
	&:after {
		border-color: transparent transparent transparent;
		border-style: solid;
		border-width: 0;
		bottom: -10px;
		content: "";
		display: inline-block;
		left: 4.8px;
		position: absolute;
		transform: rotate(45deg);
		width: 0;
	}
}

	.ect-list-post .ect-list-post-left .ect-list-date .ect-date-area,
	.ect-list-post .ect-list-post-left .ect-list-date span.ect-custom-schedule,
	.modern-list-right-side .ect-list-date .ect-date-area,
	.modern-list-right-side .ect-list-date span.ect-custom-schedule,
	.style-3 .ect-list-date .ect-date-area,
	.style-3 .ect-list-date span.ect-custom-schedule,
	.ect-modern-time,
	#ect-grid-wrapper .ect-grid-date,
	#ect-carousel-wrapper .ect-carousel-date,
	#ect-slider-wrapper .ect-slider-date,
	#ect-accordion-wrapper .ect-accordion-date,
	#ect-accordion-wrapper.ect-accordion-view span.month-year-box {

	    font-family: inherit !important;
	    color:$white !important;
	    @include font-size(20);
	    font-weight: normal !important;
	    font-style: normal !important;
	    line-height: 1 !important;
	}

	.ect-list-post .ect-list-post-right,
	.ect-list-post .ect-clslist-event-info,
	#ect-grid-wrapper .ect-grid-event-area,
	#ect-carousel-wrapper .ect-carousel-event-area,
	#ect-slider-wrapper .ect-slider-event-area,
	#ect-slider-wrapper .style-2 .ect-slider-left
	 #ect-accordion-wrapper .ect-accordion-event,
	 #ect-carousel-wrapper .style-1 .ect-carousel-date, #ect-carousel-wrapper .style-2 .ect-carousel-date {
		 box-shadow: inset 0px 0px 0 0 !important;
		background:transparent !important;
	}

	#ect-carousel-wrapper .ect-carousel-event-area {
	  box-shadow: inset 0 0 0 0 #e6e6e6 !important;
	}

	.ect-carousel-event {

			.ect-carousel-date {
				padding: 0;
				margin: 0.5rem 0;
				@include font-size(20);
			}

			.ect-carousel-title{
				padding: 0;
				h4{
					font-size: 24px !important;
					font-weight:normal !important;
					line-height: 1 !important;
					margin: 0.5rem 0;
					color:$white;
					text-transform: uppercase;

				}
			}

			.ect-carousel-cost,
			.ect-carousel-readmore {
				display: none;
			}
	}

	.ect-list-post h2.ect-list-title, .ect-list-post h2.ect-list-title a.ect-event-url, .ect-classic-list a.tribe-events-read-more, .ect-clslist-event-info .ect-clslist-title a.ect-event-url, #ect-grid-wrapper .ect-grid-title h4, #ect-grid-wrapper .ect-grid-title h4 a, #ect-carousel-wrapper .ect-carousel-title h4, #ect-carousel-wrapper .ect-carousel-title h4 a, #ect-slider-wrapper .ect-slider-title h4, #ect-slider-wrapper .ect-slider-title h4 a, #ect-accordion-wrapper h3.ect-accordion-title {
		color:$white !important;
		line-height: 1;
		font-size: 24px;
	}

	#ect-carousel-wrapper .ect-events-carousel .slick-arrow i {
    background: transparent;
		box-shadow: 0 0 0 0 #fcfcfc;
		&:before {
	     color: $white !important;
			}
	}
}




.seccio.calendari,
.post-type-archive-tribe_events {
	max-width:175rem;
	margin:0 auto;
	color:$primary;

	.tribe-events-sub-nav {
		a {
			text-transform: uppercase;
			color:$primary;
		}
	}

	hr {
		margin: 1rem;
		background: $primary;
		border:none;
		height: 1px;
	}


	.section-title {
		text-transform: uppercase;
		color:$primary;
		@include font-size(50);
		font-family: $fp-light;
		display: block;
		margin: 4rem 1rem 0 1rem;
	}

  .tribe-events-title-bar {
		display:none;
  }

	.tribe-bar-disabled {
		display: none;
	}

	.tribe-events-calendar {
		margin: 1rem;
	}

	.tribe-events-calendar thead th {
    background-color: transparent;
		color:$primary;
		font-weight: normal;
		padding: 1em 0;
		white-space: nowrap;
		border-left: 1px solid $primary;
		border-right: 1px solid $primary;
		border-top: 1px solid $primary;
		@include font-size(18);
	}

	#tribe-events {
		margin: 1rem;
	}

	#tribe-events-content .tribe-events-calendar td {
    box-sizing: border-box;
    color:$primary;
    @include font-size(18);
  }

	.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"],
	.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a,
	.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*="tribe-events-daynum-"],
	.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*="tribe-events-daynum-"] > a, {
    background-color:transparent;
		color:$primary;
		@include font-size(18);
	}

	.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
    background-color: transparent;
		color:$primary;
		@include font-size(18);
	}
	#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
    background:transparent;
	}

	#tribe-events-content .tribe-events-calendar td {
	border: 1px solid $primary;
	transition: all .2s cubic-bezier(.55,.085,.68,.53);
	}

	#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
    font-family: $fp-light;
    @include font-size(18);
		text-transform: uppercase;
  	color:$secondary;
		a {
			color:$secondary;
		}
	}

	.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip,
	.tribe-events-shortcode.view-week .tribe-events-tooltip,
	.tribe-events-week .tribe-events-tooltip {
    border: 0;
    background-color:$secondary;
		color:$white;
    padding: 0.5em;
    box-shadow: 0 0 0 rgba(0,0,0,0);
		.entry-title {
			font-family: $fp-light;
			text-transform: uppercase;
			color:$white;
			font-weight: normal;
			@include font-size(22);
		}
	}

	.tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
    left: auto;
    right: 30px;
	}

	.tribe-events-tooltip .tribe-events-arrow {
    width: 4rem;
    height: 2rem;
    background-image: url('../img/corner-window.png') !important;
    background-size: 4rem 2rem;
    bottom: -1rem;

  }

	.tribe-events-tooltip .tribe-events-event-body {
  	@include font-size(16);
    padding: 0;
	}

	.tribe-events-present {
		background: $primary;
		color:$white;
		div[id*="tribe-events-daynum-"],
		div[id*="tribe-events-daynum-"] a {
			color:$white ;
		}


		.tribe-events-month-event-title a{
			color:$white !important;
		}

		&:hover {
			cursor:pointer;
			background: $white!important;
			  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
				div[id*="tribe-events-daynum-"],
				div[id*="tribe-events-daynum-"] a {
					color:$secondary !important;
				}
				.tribe-events-month-event-title a{
					color:$secondary !important;
				}
		}
	}

	#tribe-events .tribe-events-button,
	#tribe-events .tribe-events-button:hover,
	#tribe_events_filters_wrapper input[type="submit"],
	.tribe-events-button, .tribe-events-button.tribe-active:hover,
	.tribe-events-button.tribe-inactive,
	.tribe-events-button:hover,
	.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
	.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
		background-color: transparent;
	}

	.ect-list-post .ect-list-venue .ect-venue-details,
	.ect-list-post .ect-list-venue .ect-google a,
	.modern-list-venue, .modern-list-venue .ect-google a,
	#ect-grid-wrapper .ect-grid-venue,
	#ect-carousel-wrapper .ect-carousel-venue,
	#ect-slider-wrapper .ect-slider-venue,
	#ect-accordion-wrapper .ect-accordion-venue {
		display: none;
	}

	/* DETALL */


	.ect-list-post .ect-list-post-left .ect-list-date .ect-date-area, .ect-list-post .ect-list-post-left .ect-list-date span.ect-custom-schedule, .modern-list-right-side .ect-list-date .ect-date-area, .modern-list-right-side .ect-list-date span.ect-custom-schedule, .style-3 .ect-list-date .ect-date-area, .style-3 .ect-list-date span.ect-custom-schedule, .ect-modern-time, #ect-grid-wrapper .ect-grid-date, #ect-carousel-wrapper .ect-carousel-date, #ect-slider-wrapper .ect-slider-date, #ect-accordion-wrapper .ect-accordion-date, #ect-accordion-wrapper.ect-accordion-view span.month-year-box {
	  font-family: inherit;
	  color:$primary;
		@include font-size(20);
	  font-weight: normal;
	  font-style: normal;
	  line-height: 1em;
	  width: 100%;
	  text-transform: uppercase;
	}

	.style-1 .ect-carousel-date {
	    position: inherit !important;
	    top: 0 !important;
	    left: 0 !important;
	    width: 100%;
	    margin: 0;
	    margin-top: 0px;
	    margin-top: 0;
	&:after {
		border-color: transparent transparent transparent;
		border-style: solid;
		border-width: 0;
		bottom: -10px;
		content: "";
		display: inline-block;
		left: 4.8px;
		position: absolute;
		transform: rotate(45deg);
		width: 0;
	}
}

	.ect-list-post .ect-list-post-left .ect-list-date .ect-date-area,
	.ect-list-post .ect-list-post-left .ect-list-date span.ect-custom-schedule,
	.modern-list-right-side .ect-list-date .ect-date-area,
	.modern-list-right-side .ect-list-date span.ect-custom-schedule,
	.style-3 .ect-list-date .ect-date-area,
	.style-3 .ect-list-date span.ect-custom-schedule,
	.ect-modern-time,
	#ect-grid-wrapper .ect-grid-date,
	#ect-carousel-wrapper .ect-carousel-date,
	#ect-slider-wrapper .ect-slider-date,
	#ect-accordion-wrapper .ect-accordion-date,
	#ect-accordion-wrapper.ect-accordion-view span.month-year-box {

	    font-family: inherit !important;
	    color:$primary;
	    @include font-size(20);
	    font-weight: normal !important;
	    font-style: normal !important;
	    line-height: 1 !important;
	}

	.ect-list-post .ect-list-post-right,
	.ect-list-post .ect-clslist-event-info,
	#ect-grid-wrapper .ect-grid-event-area,
	#ect-carousel-wrapper .ect-carousel-event-area,
	#ect-slider-wrapper .ect-slider-event-area,
	#ect-slider-wrapper .style-2 .ect-slider-left
	 #ect-accordion-wrapper .ect-accordion-event,
	 #ect-carousel-wrapper .style-1 .ect-carousel-date, #ect-carousel-wrapper .style-2 .ect-carousel-date {
		 box-shadow: inset 0px 0px 0 0 !important;
		background:transparent !important;
	}

	#ect-carousel-wrapper .ect-carousel-event-area {
	  box-shadow: inset 0 0 0 0 #e6e6e6 !important;
	}

	.ect-carousel-event {

			.ect-carousel-date {
				padding: 0;
				margin: 0.5rem 0;
				@include font-size(20);
			}

			.ect-carousel-title{
				padding: 0;
				h4{
					font-size: 24px !important;
					font-weight:normal !important;
					line-height: 1 !important;
					margin: 0.5rem 0;
					color:$primary;
					text-transform: uppercase;

				}
			}

			.ect-carousel-cost,
			.ect-carousel-readmore {
				display: none;
			}
	}

	.ect-list-post h2.ect-list-title, .ect-list-post h2.ect-list-title a.ect-event-url, .ect-classic-list a.tribe-events-read-more, .ect-clslist-event-info .ect-clslist-title a.ect-event-url, #ect-grid-wrapper .ect-grid-title h4, #ect-grid-wrapper .ect-grid-title h4 a, #ect-carousel-wrapper .ect-carousel-title h4, #ect-carousel-wrapper .ect-carousel-title h4 a, #ect-slider-wrapper .ect-slider-title h4, #ect-slider-wrapper .ect-slider-title h4 a, #ect-accordion-wrapper h3.ect-accordion-title {
		color:$primary;
		line-height: 1;
		font-size: 24px;
	}

	#ect-carousel-wrapper .ect-events-carousel .slick-arrow i {
    background: transparent;
		box-shadow: 0 0 0 0 #fcfcfc;
		&:before {
	     color: $primary;
			}
	}


}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type="submit"],
.tribe-events-button, .tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
	background-color: transparent;
}


.ect-no-events,
.tribe-events-notices {
	text-align:center;
	background: none !important;
	border-radius: 0  !important;
	border: 0px solid #bce8f1 !important;
	color:#fff !important;
margin: 2rem !important;
padding: 2rem 0 !important;
text-shadow: 0 0 0 #fff !important;
}
