.contact {
  font-family: $fp-regular;
  margin-top: 4rem;
  padding: 6rem 0 0 0;
  background: $primary;
  color:$white;
  a {
    color:$white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .section-header {
    display: none;
    padding: 2rem 0 2rem;
    .section-title {
      color:$white;
    }
  }

  .entry-list {
    padding-bottom: 5rem;
    .item {
      @include font-size(18);
      line-height: 1.4;
      width: 100%;
      text-align: center;
      margin-bottom: 4rem;
      h3 {
        font-family: $fp-bold;
        margin: 0 0 1rem 0;
        @include font-size(30);
        line-height: 1.1;
      }

      &:last-child .btn{
        border:1px solid $primary;
        background-color: $white;
        color:$primary !important;
        text-decoration: none !important;
      }
      a {
        display: block;
      }
    }
  }

  .contact-footer {

  }

  @include sm {
    .section-header {
      display: block;
    }
    .entry-list {
      .item {
        width: 33.3333%;
        text-align: left;

        h3 {
          text-align: left;
        }

        &:last-child {
          .btn {
            float: right;
          }

        }
      }
    }

    .contact-footer {
      ul {
        li {
          width: 20%;
          &:last-child {
            width: 15%;
            text-align: right;
          }
        }
      }
    }
  }
}


 .dejanos-cv {
   .alignwide {
     max-width: 68rem !important;
   }
  padding: 4rem 2rem;
  background: $crema;
  text-align: center;
  text-align: center;

  .section-title {
    @include font-size(30);
    line-height: 1;
    text-align: center;
    margin:1rem auto;
    text-transform: none;
    color:$corporatiu;
  }
  // .wpcf7-form {
    .wpcf7-form-control{
      @include font-size(16);
      margin: 0;
      width: 100%;
      margin: 1rem 0 0.5rem 0;
      line-height: 2;
      background: $white;
      padding:0.5rem 2rem;
      max-width: 30rem;
      border-radius: 15rem;
      border:0px solid $white;

      &.wpcf7-file,
      &.wpcf7-acceptance {
        background: none;
      }


      &::placeholder { color: $silver-dark; opacity: 1; }
      &:-ms-input-placeholder { color: $silver-dark;}
      &::-ms-input-placeholder { color: $silver-dark;}
      &.wpcf7-textarea {
        height: 30rem;
        padding-left: 1rem;
      }
      &:focus {
        outline: 0;
      }
    }



    .wpcf7-submit {
      line-height: 2;
      // max-width: 20rem;
      padding: 1rem 2rem;
      margin-top: 4rem;
      background: transparent;
      border:none;
      text-transform: uppercase;
      border-radius: 15rem;
      background: $verd;
      color:$white;
      &:hover {
        background-color: $verd-fosc;
        color:$white;
        cursor: pointer;
      }
    }

    .wpcf7-response-output,
    .wpcf7-validation-errors,
    .wpcf7-acceptance-missing {
        border: 0;
        background: #ff0a35;
        color: $white;
        line-height: 2;
        padding-top: 0.5rem;
      }

  @include sm {
    padding: 6rem 0;
    .section-title {
      @include font-size(35);
      line-height: 1.2;
    }
  }
}

.cf7sr-g-recaptcha {
  margin: 0 auto -2rem;
  text-align: center;
  max-width: 304px;
}


.single .dejanos-cv {
  h2 {
    margin-top: 1rem;
  }
  margin-bottom: 4rem;
  p {
    text-align: center;
  }
}
