.develop {
  @include font-size(20);
  line-height: 2;

  .column {
    padding: 0 2rem;
    .antetitol {
      @include font-size(10);
      font-family: 'monaco';
      color:grey;
      display: block;
      line-height: 1;
      margin: 0.1rem 0 1.5rem 0;
    }
  }

  main {
    max-width: 160rem;
    padding:2rem 0;
  }

  nav {
    background: black;
    color:white;
    font-weight: bold;
    @include font-size(22);
    letter-spacing: 0.05rem;
    font-family: 'monaco';
    a {
      color:white;
      text-decoration: underline;
      font-weight: normal;
      font-family: 'monaco';
      @include font-size(16);
      &:hover {
        text-decoration: none;
      }
    }
    .column {
      padding:1rem 2rem;
    }
  }

}

#baseline-grid {
  position: fixed;
  // position: absolute;
  z-index: 9999;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}


#baseline-grid.show-grid {
  background-image: linear-gradient(to bottom, magenta 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
  background-color: transparent;
}

// #baseline-grid.show-grid {
//   background-image: linear-gradient(to right, blue 0, rgba(255, 255, 255, 0) 2rem);
//   background-repeat: repeat-x;
//   background-size: 8.3333% 100%;
//   background-color: transparent;
// }



#showgrid {
  border:1px solid black;
  @include font-size(14);
  line-height: 1.5;
  border-radius: 3px;
  margin: 0 1rem 0 3rem;
}

#viewportsize{
  @include font-size(12);
  line-height: 1.5;
    min-height: 40px;
    z-index:99999;
    padding: 2rem;
    letter-spacing: 0.1rem;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    color:black;
    border-top:1px solid black;
    padding:1rem;
    text-align: right;
    background: silver;
    &:after {
      content:'--';
      color:black;
      position: absolute;
      left: 10px;
      top:10px;
      display: block;
      font-weight: bold;
    }


    @media xs {
      background: gold;
      @include font-size(16);
      display: inline-block;
      &:after {
        content:'xs';
        color:black;
        position: absolute;
        left: 10px;
        top:10px;
        display: block;
        font-weight: bold;
      }
    }
    @include sm {
      background: orange;
      &:after {
        content:'sm';
        color:black;
        position: absolute;
        left:10px;
        top:10px;
        display: block;
        font-weight: bold;
      }
    }
    @include md {
      background: red;
      &:after {
        content:'md';
        color:black;
        position: absolute;
        left:10px;
        top:10px;
        display: block;
        font-weight: bold;
      }
    }
    @include lg {
      background: lime;
      &:after {
        content:'lg';
        color:black;
        position: absolute;
        left: 10px;
        top:10px;
        display: block;
        font-weight: bold;
      }
    }
    @media xlg {
      background: aqua;
      &:after {
        content:'xlg';
        color:black;
        position: absolute;
        left: 10px;
        top: 10px;
        display: block;
        font-weight: bold;
      }
    }
}

//
// .gold { background: gold !important; }
// .orange { background:orange !important; }
// .red { background: red !important; }
// .aqua { background: aqua !important; }
// .blue { background: blue !important; }
// .lime { background: lime !important; }
