/* Events LIST */

div.events {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color:$secondary;
  text-transform: uppercase;
  @include font-size(10.1);
  line-height: 1.15;
  top: 0;
  position: fixed;
  z-index: 6;

  a {
    color: $secondary;
    text-decoration: underline;
    display: none;
    &:hover {
      text-decoration: none;
    }
  }

  @include md {
    color:$primary;
    top: 0rem;
    left: 16rem;
    position: relative;
    // margin:0 auto;
    width:86rem;
    @include font-size(14);
    text-align: left;
    a {
      display: inline-block;
    }

    &.fix {
      position: fixed;
      top:3rem;
      left:34rem;
      width: 64rem;
      @include font-size(12);
    }
  }
}


.events-list {
  background: $secondary;
  padding: 2rem;
  display: none;

  .close-btn {
    opacity:0;
  }

  .section-title {
    text-transform: uppercase;
    font-family: $fp-light;
    @include font-size(40);
    line-height: 1.1;
    display:block;
    color:$white;
    text-transform: uppercase;
    padding:1rem 2rem 1rem 2rem;
  }

  .section-list {
    font-family: $fp-light;
    @include font-size(16);
    line-height: 1.35;
    margin: 2rem;


    .next-events {
      &.owl-theme {
        position: relative;
        .owl-nav {
          position: absolute;
          top: 25%;
          width: 100%;
          .owl-prev {
            position: absolute;
            left:1rem;
            background:url('../img/prev-white.svg') top left no-repeat;
            background-size: 100% 100%;
            width: 2rem;
            height: 4rem;
          }
          .owl-next {
            position: absolute;
            right:1rem;
            background:url('../img/next-white.svg') top left no-repeat;
            background-size: 100% 100%;
            width: 2rem;
            height: 4rem;
          }
        }
      }

    .event {
      .event-date {
        @include font-size(20);
        display: block;
        padding-top: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
      .event-content {

        color:$white;
        a { color:$white;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
      h3, a {
        color:$white;
      }

      .image {
        width: 100%;
        height: 20rem;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover !important;
         -moz-background-size: cover !important;
         -o-background-size: cover !important;
         background-size: cover !important;

        top:0;
        left:0;
        right: 0;
        bottom: 0;
        &:before {
          background-color:$secondary;
          content:' ';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          // -webkit-filter: grayscale(50%) contrast(50%);
          // filter: grayscale(0%) contrast(100%);
          // mix-blend-mode: hard-light;
          filter: grayscale(20%) contrast(100%);
          mix-blend-mode: color;
      }
      .event-content {
        margin-left: 2rem;
        a {
          color:$white;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
            }
          }
        }
      }
    }
  }
}


  &.active {
    display: block;
    height: 100%;
    z-index: 40;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

    .close-btn {
      opacity:1;
      position: absolute;
      top: 2rem;
      right: 2rem;
      height: 3rem;
      width: 3rem;
      z-index: 41;
    }

    .section-list {
      margin: 2rem;
    }


  }

}

.mec-wrap {

  .mec-color {
    color:$primary !important;
  }

  .mec-calendar-side .mec-next-month i,
  .mec-calendar-side .mec-previous-month i {
    font-size: 1rem;
    color: $primary;
    cursor: pointer;
  }

  div:not([class^="elementor-"]) {
    font-family: $fp-light !important;
  }

  .mec-load-month {
    font-family: $fp-light !important;
    text-transform: uppercase !important;
    color:$primary !important;
    // border:none !important;
    i {
      // display: none;
    }

    &:hover {
      // background: none !important;
      color:$secondary !important;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $fp-light !important;
    text-transform: uppercase !important;
    color:$primary !important;
  }


  .mec-event-title, a { color:$primary !important;
    &:hover {
      text-decoration: none !important;
    }
   }


  .mec-calendar-header h2 { color:$primary !important; }

  .mec-calendar-table {

      .mec-calendar-table-head dt {
      background: $white !important;
      border-left:0px solid $primary !important;
      border-top:0 solid $primary !important;
      border-bottom:0px solid $primary !important;
      border-right:1px solid $primary !important;
      color:$primary !important;
      font-family: $fp-light !important;
    }

    .mec-month-container{
      font-family: $fp-light !important;
      text-transform: uppercase !important;
      color:$primary !important;
      border:1px solid $primary !important;
      border-right:0px solid $primary !important;
    }

    dt.mec-calendar-day,
    dt.mec-table-nullday {
      border-left:0px solid $primary !important;
      border-top:1px solid $primary !important;
      border-bottom:0px solid $primary !important;
      border-right:1px solid $primary !important;
      color:$primary !important;

      &.mec-selected-day {
        color:$secondary !important;
      }
    }
  }

  .mec-next-month,
  .mec-previous-month {
   border: 0px solid #efefef !important;
   box-shadow: 0 0 0 0 rgba(0,0,0,.015) !important;
   transition: all .33s ease;
   &:hover {
     background: transparent !important;
   }
  }

}

.events-list {
  .mec-wrap {
    padding: 2rem 0;

      .mec-owl-carousel .owl-item img {
      display: block;
      width: 100%;
      height: auto;
    }

    .mec-calendar-side .mec-next-month i,
    .mec-calendar-side .mec-previous-month i {
      color: $white;
    }


    .event-carousel-type2-head {
      background: transparent;
      border: 1px solid $white;
      margin: 1rem;
      padding: 0;

      .mec-event-image {
        border-bottom: 1px solid $white;
      }
    }

    .mec-event-date-info {
      color:$white;
    }



    .mec-event-footer-carousel-type2 {
      display: none;
      margin: 0;
    }

    .mec-event-carousel-content-type2 {
      margin: 1rem;
      min-height: 12rem;

    }

    .mec-event-title, a { color:$white !important;
      &:hover {
        text-decoration: none !important;
      }
     }

    .mec-load-month {
      color:$white !important;
      border:none !important;
      background: transparent !important;

      &:hover {
        background: none !important;
        color:$white !important;
      }
    }



    .mec-calendar-header h2 { color:$white !important; }

    .mec-calendar-table {

        .mec-calendar-table-head dt {
        background: $white !important;
        border-left:0px solid $white !important;
        border-top:0 solid $white !important;
        border-bottom:0px solid $white !important;
        border-right:1px solid $white !important;
        color:$white !important;
        background: transparent !important;
      }

      .mec-month-container{
        color:$white !important;
        border:1px solid $white !important;
        border-right:0px solid $white !important;
        background: transparent !important;
      }



      dt.mec-calendar-day,
      dt.mec-table-nullday {
        border-left:0px solid $white !important;
        border-top:1px solid $white !important;
        border-bottom:0px solid $white !important;
        border-right:1px solid $white !important;
        color:$white !important;
        background: transparent !important;

        &.mec-selected-day {
          color:$white !important;
          background: transparent !important;
        }
      }
    }
  }

}

/* DETALL PAGINA EVENTS */

.mec-wrap {
  margin: 1rem 2rem !important;
}

.mec-container {
  width: 100% !important;
}

.post-type-archive-mec-events{
  .mec-container {
    margin-top: 4rem;
  }

  h1 {
    display: none;
  }

}

.mec-address {
  display: none;
}

.mec-single-event .mec-events-meta-group-booking,
.mec-single-event .mec-frontbox {
  border:none !important;
}

.mec-border-color, .mec-border-color-hover:hover,
.mec-wrap .mec-border-color,
.mec-wrap .mec-border-color-hover:hover {
  border:1px solid $primary;
  background: $white;
}

.mec-breadcrumbs,
.mec-export-details,
.comment-respond {
  display: none;
}

.mec-skin-carousel-events-container {
  color:$white;
  margin: 1rem;
  @include font-size(24);
}

.featherlight:last-of-type {
    background: rgba(255, 255, 255, 0.8) !important;
}

.mec-modal-wrap {
    max-width: 60vw;
    max-height: 60vh !important;
    background: $white;
    box-shadow: 0 1px 10px rgba(0,0,0,.3) !important;
    overflow-x: hidden !important;
}

.mec-tooltip-event-desc {
  .size-medium {
    max-width: 15rem;
    height: auto;
  }
}

.mec-single-modal {

  .col-md-4 {
    display: none !important;
  }

  .col-md-8 {
    width: 100%;
  }

  .mec-event-social {
    display: none !important;
  }

}
