/* REGULAR SANS */

@font-face {
    font-family:"Suisse-Regular";
    src:url("../fonts/SuisseIntl-Regular.woff2") format("woff2"),url("../fonts/SuisseIntl-Regular.woff") format("woff"),url("../fonts/SuisseIntl-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* BOLD SANS */

@font-face {
    font-family:"Suisse-Bold";
    src:url("../fonts/SuisseIntl-Bold.woff2") format("woff2"),url("../fonts/SuisseIntl-Bold.woff") format("woff"),url("../fonts/SuisseIntl-Bold.otf") format("opentype");
    font-style:normal; font-weight:400;
}

/* SEMI BOLD SANS */

@font-face {
    font-family:"Suisse-Semi-Bold";
    src:url("../fonts/SuisseIntl-SemiBold.woff2") format("woff2"),url("../fonts/SuisseIntl-SemiBold.woff") format("woff"),url("../fonts/SuisseIntl-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* BLACK SANS */

@font-face {
    font-family:"Suisse-Black";
    src:url("../fonts/SuisseIntl-Black.woff2") format("woff2"),url("../fonts/SuisseIntl-Black.woff") format("woff"),url("../fonts/SuisseIntl-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* LIGHT SANS */

@font-face {
    font-family:"Suisse-Light";
    src:url("../fonts/SuisseIntl-Light.woff2") format("woff2"),url("../fonts/SuisseIntl-Light.woff") format("woff"),url("../fonts/SuisseIntl-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* LIGHT ITALIC SANS */

@font-face {
    font-family:"Suisse-Regular-Italic";
    src:url("../fonts/SuisseIntl-RegularItalic.woff2") format("woff2"),url("../fonts/SuisseIntl-RegularItalic.woff") format("woff"),url("../fonts/SuisseIntl-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* REGULAR SERIF */

@font-face {
    font-family:"SuisseW-Regular";
    src:url("../fonts/SuisseWorks-Regular.woff2") format("woff2"),url("../fonts/SuisseWorks-Regular.woff") format("woff"),url("../fonts/SuisseWorks-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* BOLD SERIF */

@font-face {
    font-family:"SuisseW-Bold";
    src:url("../fonts/SuisseWorks-Bold.woff2") format("woff2"),url("../fonts/SuisseWorks-Bold.woff") format("woff"),url("../fonts/SuisseWorks-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* ITALIC SERIF */

@font-face {
    font-family:"SuisseW-Regular-Italic";
    src:url("../fonts/SuisseWorks-RegularItalic.woff2") format("woff2"),url("../fonts/SuisseWorks-RegularItalic.woff") format("woff"),url("../fonts/SuisseWorks-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
