.site-header {
  background: $white;
   
  h1.logo a {
    margin: 0 auto 0;
    width: auto;
    height: 4rem;
    display: block;
   
    span { display:none; }
  }

  a {
    color:$crema;
    text-decoration: none;
    opacity:0.8;
  }

  &.active {
    background-color:$morat;
    height: 100%;
    overflow-y: auto;

    .logo {
      display: none;
    }
  }

  @include sm {

    .logo {
      height: 5rem;
      width: 50%;
      margin: 2rem auto 0;
      z-index: 2;
      position: relative;
    }

    a {
      opacity: 1;
    }
  }

  @include md {
    .logo {
      max-width: 300px;
    }
    a {
      opacity: 1;
      @include font-size(18);
      line-height: 100%;
    }

    .logo {
      margin: 3rem auto 0;
      background-size: 100% 80% !important;
      position: relative !important;
      height: 6rem !important;
      a {
        z-index: 999 !important;
        position: absolute;
        display: block;
        width: 100% !important;
        height: 6rem !important;
      }
    }

  }

}

