.subheader {
    hr.wp-block-separator {
        height: 0.2rem !important;
        opacity: 1 !important;
        margin: 0 0 1rem 0 !important;
    }
}

.uagb-slick-carousel {
    padding: 1rem 0 0 0;

    .uagb-slick-carousel .slick-prev,
    .uagb-slick-carousel .slick-next {
        border:none !important;
        opacity: 1 !important;
        color:$black !important;
    
    }
    
    .uagb-post__inner-wrap {
        border-radius:1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $crema;
        padding: 0 0.5rem;
        font-size: 0;
        line-height: 0;

        .uagb-post__image,
        > .uagb-post__image:first-child {
            height: 24rem;
            overflow: hidden;
            background-color: transparent !important;
            background-clip: padding-box;
            border-radius: 1rem 1rem 0 0;
            margin-top:0 !important;
            margin-left:-0.5rem !important;
            margin-right:-0.5rem !important;
            font-size: 0;
            line-height: 0;
             
            a {
                font-size: 0;
                line-height: 0;
            }

            img {
                width: auto;
                height: 24rem;
            }
        }

        .uagb-post__text {
            text-align: left;
            padding:1rem;
            h3.uagb-post__title a {
                color:$morat;
            }

            .uagb-post__excerpt {
                @include font-size(15);
                font-weight: lighter !important;
                line-height: 140%;
                color:$morat;
                padding-bottom: 1rem;
            }
        }
    }

    // .slick-track {
    //     .slick-slide {
    //         &:nth-child(1n) {
    //             .uagb-post__inner-wrap {
    //                 background-color: $crema;
    //             }
    //         }

    //         &:nth-child(2n) {
    //             .uagb-post__inner-wrap {
    //                 background-color:$salmo;
    //                 padding-bottom: 0;
                    
    //                 .uagb-post__image {
    //                     // order:1;
    //                     font-size: 0;
    //                     line-height: 0;
    //                     border-radius: 1rem 1rem 0 0;
    //                 }
    //             }
    //         }

    //         &:nth-child(3n) {
    //             .uagb-post__inner-wrap {
    //                 background-color:$verd;
    //             }
    //         }

    //         &:nth-child(4n) {
    //             .uagb-post__inner-wrap {
    //                 background-color: $gris-terra;
    //             }
    //         }

    //         &:nth-child(5n) {
    //             .uagb-post__inner-wrap {
    //                 background-color: $primary;

    //                 .uagb-post__text {
    //                     h3.uagb-post__title a {
    //                         color:$crema;
    //                     }

    //                     .uagb-post__excerpt {
    //                       color:$crema;
    //                     }
    //                 }

    //                 .uagb-post__image {
    //                     order:1;
    //                     font-size: 0;
    //                     line-height: 0;
    //                     margin-bottom: -0.5rem !important;
    //                     border-radius: 0 0 1rem 1rem;
    //                 }
    //             }
    //         }

    //         &:nth-child(6n) {
    //             .uagb-post__inner-wrap {
    //                 background-color: $foopalns;
    //             }
    //         }
    //     }
    // }
       
}