.revistas {
    margin:5rem auto;
    max-width:$max-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    .revista-actual {
      width: 100%;
      border-radius:0.8rem !important;
      background: $crema;

      .entry{
        margin: 3rem auto;
        display: flex;
        width: 100%;
        flex-direction: column;
         align-items:center;

        .entry-image {
          max-width: 26rem;
          margin:1rem auto 0;
          width: 100%;
          height: inherit;
          img {
            -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          }
        }

        .entry-content {
          margin-left: 0rem;
          text-align: center;
          h3 {
            @include font-size(32);
            line-height: 1.6;
            margin: 1rem auto;
          }

          .revista-download {
            a.button {
              margin: 0.5rem;
              display: block !important;
            }
          }
        }
      }
    }

    .entry {
      width: 45%;
      margin: 2rem 2.5% 3rem;

      .entry-content {
        text-align: center;
        h2 {
          @include font-size(14);
          line-height: 1.2;
          margin: 1rem auto 0.5rem;
          text-align: center;
        }

        .button {
          margin: 0 auto;
        }
      }

      .entry-image {
        width: 100%;
        height: inherit;
        img {
          -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
        }
      }
    }

    @include sm {

      .revista-actual {
        width: 100%;
        border-radius:0.8rem !important;
        background: $crema;

        .entry{
          margin: 7rem auto;
          display: flex;
          width: 100%;
          flex-direction: row;
           align-items:center;

          .entry-image {
            max-width: 40rem;
            margin-left: 12rem;
            margin-right: 0;
          }

          .entry-content {
            margin-left: 10rem;
          }
        }
      }

      .entry {
        width: 20%;
        margin: 8rem 2.5% 3rem;
        height: auto;
        min-height:inherit;


        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(10),
        &:nth-child(14) {
          margin-left: -1rem;
        }

        &:nth-child(5),
        &:nth-child(9),
        &:nth-child(13) {
          margin-right: -1rem;
        }

        &:nth-child(6n){
          margin-left: -1rem;
        }

      .entry-image {
        width: 100%;
        height: inherit;
        img {
          -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
        }
      }

      .entry-content {
        text-align: center;
        h2 {
          @include font-size(24);
          line-height: 1.2;
          margin: 2rem auto;
        }
        .revista-download {
          a.button {
            margin: 0.5rem;
            display: block !important;
          }
        }
      }
    }

  }

  // end sm
}

// end revista
