.single {

  .entry-header {
    h2.entry-title {
      @include font-size(38);
      margin: 5rem auto;
      padding: 0 1rem;
      max-width: 76rem;
      text-align: center;
      font-family: $fp-black;
      line-height: 110%;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }

      @include sm {
        @include font-size(64);
      }
    }
  }


  .video.embed-container {
    margin: 4rem auto;
    max-width: 76rem;
  }

  .post-image {
    max-width: 80rem;
    margin: 4rem auto;
  }


  .entry-content {
    font-family: $fp-regular;
    @include font-size(16);
    line-height: 1.6;
    max-width: 76rem;
    margin: 0 auto;
    padding: 1rem;

    .style-svg {
      display: none;
    }

    div {
      line-height: 1.6;
    }

    b {
      font-family: $fp-bold;
    }

    img {
      margin:2rem auto !important;
      border-radius: 1rem;
    }

    .wp-caption-text {
      @include font-size(16);
      a {
        color:$morat;
      }
    }

    p {
      text-align: left;
      padding: 0 1.5rem;
      margin: 0 auto 2rem;
      max-width: 76rem;
      color:$black;
      font-weight: normal;
      letter-spacing: 0.025rem;
      line-height: 1.4;
      @include font-size(16);
      @include sm {
          @include font-size(21);
      }
    }

    ul {
      padding-left: 4rem;
      li {
      text-align: left;
      list-style: disc;
      margin-bottom: 2rem;
      }
    }

    h1 {
      display: none;
    }

    h2 {
      @include font-size(32);
      max-width: 76rem;
      margin: 6rem auto 2rem;
      text-align: left;
    }


    h3 {
      @include font-size(28);
      max-width: 76rem;
      margin: 6rem auto 2rem;
      text-align: left;
    }

    h4 {
      @include font-size(24);
      max-width: 76rem;
      margin: 6rem auto 4rem;
      text-align: left;

      @include sm {
        @include font-size(26);
      }
    }

    h5 {
      @include font-size(22);
      max-width: 76rem;
      margin: 6rem auto 4rem;
    }

    ul, ol {
      display: block;
      max-width: 76rem;
      margin: 0 auto;
      &.categoria {
        font-family: $fp-bold;
      }
    }

    ol {
      padding-left: 2rem;
      margin-bottom: 5rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }


    @include sm {
      .entry-content {
        @include font-size(18);
        line-height: 1.4;
        padding: 0 0 5rem 0;

        p {
          padding: 0;
          line-height: 1.7;
          display: block;
          margin-bottom: 1rem;
        }

      }
    }
  }


  /* CONTENIDO RELACIONADO */

  .contenido-relacionado {
    padding: 2rem 0;

    .section-header {
      text-align: center;
      h2 {
        @include font-size(38);
        line-height: 1;
        max-width: 118rem;
        text-align: center;
        margin: 3rem auto;
        color:$black;
        
      }
    }

    .section-content {
      margin: 1.5rem auto;
      max-width: 111.8rem;
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: center;
      width: 100%;
      margin: 2rem auto;

      .entry-tarja {
        width: 50%;
        border: 1rem solid $white;
        .entry-content {

            ul{
              padding-left: 0;
              li {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 1rem;
                line-height: 1;
              }
            }

            padding: 2rem;

            p {
              @include font-size(14);
              font-weight: normal;
              color:$crema;

              &:first-of-type {
                margin: 0;

              }
            }

        }
      }

      @include sm {
        .entry-tarja {
          width: 25%;
        }
      }
    }
  }



  .single-ofertas {

    .site-main {
      padding-top: 6rem;
    }

    .entry-content {
      text-align: center;

      a.button {
        background-color:$verd;
        text-transform: none;
        color:$white;
        margin:3rem auto !important;
        padding: 1rem 3rem;
        line-height: 2;
      }

      ol, p {
        text-align: left;
      }

      ul li {
        text-align: left;
        list-style: disc;
        margin: 0 0 2rem 0;
      }
    }



    .entry-header h2.entry-title {
        display: block;
        text-align: center;
      }

      h4 {
        text-align: center;
      }
        .metadata {
        justify-content:center;
        padding-bottom: 3rem;
          dl {
            text-align:center;
            display: block;
            margin-right: 1rem;
            margin-left: 1rem;
            dt {
                color:$corporatiu;
                font-weight: bold;
                display: block;
                @include font-size(14);
                margin-right: 1rem;
                letter-spacing: 0.05rem;
            }
             dd {
              display: inline;
              @include font-size(14);
              line-height: 2;
              color:$black;
              margin-right: 2rem;
              letter-spacing: 0.05rem;
            }
          }

      }

      @include sm {
        .metadata {
        justify-content:center;
        padding-bottom: 3rem;
          dl {
            text-align:center;
            margin-right: 4rem;
            dt {
                display: inline;
                margin-left: 1rem;
                margin-right: 1rem;
            }
             dd {
              text-align: center;
              display: inline;
            }
          }

      }
      }

  }

  .entrevistas {

    em {
      display: block;
      color: $corporatiu;
      margin-bottom: 4rem;
      @include font-size(28);
      line-height: 1.3;
      font-family: $fp-bold;
      font-style: normal;

      a {
        color:$morat;
        text-decoration: none;
        &:hover {
          color:$corporatiu;
        }
      }
    }
    .contenido-relacionado {
      margin-top: 4rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: #F5E7D3;

      .section-content {
        position: relative;
        display: block;
        overflow:hidden;
      }

      .section-header {
        margin-bottom: 5rem;
        h2.section-title {
          @include font-size(32);
        }
      }

      .item {
        position: relative;
        padding: 0 1rem;

        a.link {
          position: absolute;
          top:0;
          left:1rem;
          right:1rem;
          bottom:0;
          background: $crema;
          border-radius: 1rem;
          transition: 0.25s;
          opacity: 0;
          &:hover {
            opacity: 0.35;
          }
        }

        .entry-image {
          padding-bottom: 68%;
          border-radius: 1rem;
        }

        .entry-title {
          margin-top: 2rem;
          text-align: center;
          @include font-size(24);
        }

        .resum {
          @include font-size(16);
          line-height: 1.25;
          display: block;
          text-align: center;
        }

      }

      .owl-dots {
        text-align: center;
        margin: 0;

        .owl-dot {
          border:none;
          padding: 0;
          background: transparent;
          span {
            width: 1rem;
            height: 1rem;
            margin: 0.5rem;
            background: $morat;
            opacity: .5;
            display: block;
            border-radius: 3rem;
          }

          &.active span,
          &:hover span  {
            opacity: 1;
            background: $morat;
          }
        }
      }

        .owl-nav {
          position: absolute;
          bottom:5rem;
          width: 96%;

          .owl-prev {
            display: block;
            height: 6rem;
            width: 3rem;
            left:1rem;
            top:0;
            position: absolute;
            -webkit-transition: 0.2s;
            transition: 0.2s;

            border:none;
            background: transparent;
          }

          .owl-next {
            display: block;
            height: 6rem;
            width: 3rem;
            right:1rem;
            top:0;
            position: absolute;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            border:none;
            background: transparent;
          }

          .icon-prev {
            background: url('../img/prev.svg') center no-repeat;
            background-size: 100%;
            height: 4rem;
            width: 2rem;
            display: block;
          }

         .icon-next {
            background: url('../img/next.svg') center no-repeat;
            background-size: 100%;
            height: 4rem;
            width: 2rem;
            display: block;
          }
        }
    }
  }
