
.ticker {
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 3rem;
  background: $corporatiu;
  z-index: 999;
 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
   li {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.2rem;
    width: 100%;
    opacity: 0;
    padding: 0.5rem;
    @include font-size(12);
    line-height: 1.5;
    color:$crema;

    &:nth-of-type(1) {
      animation: fadein 16s ease-in-out infinite;
    }
    &:nth-of-type(2) {
      animation: fadein 16s ease-in-out 4s infinite;
    }
    &:nth-of-type(3) {
      animation: fadein 16s ease-in-out 8s infinite;
    }
    &:nth-of-type(4) {
      animation: fadein 16s ease-in-out 12s infinite;
    }

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      6.25% { /* 3s for fade in */
        opacity: 1;
      }
      26.75% { /* roughly 10s for stay as-is */
        opacity: 1;
      }
      33% { /* 3s for fade out */
        opacity: 0;
      }
    }

  a {
    display: block;
    text-decoration: none;
    color:$crema;
      }
    }
  }
  @include sm {
    ul {
      flex-direction: row;
      justify-content: space-between;
      li{
        left: auto;
        right: auto;
        top: auto;
        width: auto;
        animation: none;
        opacity: 1;
        position: relative;

        &:nth-of-type(1) {
          animation:none;
        }
        &:nth-of-type(2) {
          animation:none;
        }
        &:nth-of-type(3) {
          animation:none;
        }

        &:nth-of-type(4) {
          animation:none;
        }

      }
    }
  }
}
