/* TEXT*/

.site-title {
  font-family: $fp-bold;
  font-weight: bold;
  @include font-size(30);
  line-height: 1;
}

.site-slogan {
  font-family: $fp-bold;
  font-weight: 700;
  @include font-size(60);
  line-height: 1;
  @include sm {
    @include font-size(70);
  }
}

.section-title {
  @include font-size(20);
  font-family: $fp-light;
  line-height: 1.1;
  margin-bottom: 0.95rem;
  @include sm {
    @include font-size(24);
    line-height: 1.5;
  }
}


.entry-section {
  @include font-size(16);
  line-height: 1;
}


.entry-title {
  @include font-size(32);
  line-height: 1;
  font-family: $fp-bold;
  margin-bottom: 1.35rem;
}

.entry-subtitle {
  @include font-size(15);
  line-height: 1.35;
  margin-top: -3px;
  margin-bottom: 1.65rem;
}

.entry-paragraph {
    p {
    @include font-size(15);
    line-height: 1.45;
    margin-top: -2px;
    }
}
