

// COLORS

$body-bg:#ffffff;
$primary:#AC451E;
$secondary:#AC451E;

$corporatiu:#C85F2C;
$salmo:#F6BF8B;
$morat:#5F2412;
$gris-terra:#F5E7D3;
$blanc-trencat:#FFF5E9;
$crema:#FCEBC5;
$crema-clar:#F5E7D3;
$verd-fosc:#32421E;
$verd:#A1C349;
$verd-clar:#BED580;
$foopalns: #9ACDAE;
$terra: #AF8A6E;


//
$white:#ffffff;
$black:#1D1D1B;
$silver:#c8c8c8;
$silver-dark:#8e8e8d;



// BREAK POINTS
// $bxs: 32rem; //320px
// $bsm: 48rem; // 480px
// $bmd: 76.8rem; // 768px
// $blg: 102.4rem; // 1024px
// $bxl: 145rem; // 1450px

$bxs: 480px; //320px
$bsm: 768px; // 480px
$bmd: 1024px; // 768px
$blg: 1450px; // 1024px
$bxl: 2000px; // 1450px

$max-width: 1118px;
// Small tablets and large smartphones (landscape view)
$screen-xs-min: $bxs;
$screen-sm-min: $bsm;
// Small tablets (portrait view)
$screen-md-min: $bsm;
// Tablets and small desktops
$screen-lg-min: $blg;
// Large tablets and desktops
$screen-xl-min: $bxl;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}




.max-width {
  width: 100%;
  max-width: $max-width;
}

.max-width-centrat {
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
}



$fp-regular:"Suisse-Regular", Helvetica, Arial, sans-serif;
$fp-bold:"Suisse-Bold", Helvetica, Arial, sans-serif;
$fp-semibold:"Suisse-Semi-Bold", Helvetica, Arial, sans-serif;
$fp-black:"Suisse-Black", Helvetica, Arial, sans-serif;
$fp-italic:"Suisse-Regular-Italic", Helvetica, Arial, sans-serif;
$fp-light:"Suisse-Light", Helvetica, Arial, sans-serif;

$fs-regular:"SuisseW-Regular", Georgia, Times, serif;
$fs-bold:"SuisseW-Bold", Georgia, Times, serif;
$fs-italic:"SuisseW-Regular-Italic", Georgia, Times, serif;


// REM FONT size


@mixin font-size($sizeValue:1) {
  font-size: calc($sizeValue * 1) + px;
  font-size: calc($sizeValue / 10) + rem;
}

/* COLORS DEVELOP */

.white { background-color: white !important;}
.gold { background-color: gold !important;}
.red { background-color: red !important;}
.lime { background-color: lime !important;}
.aqua { background-color: aqua !important;}
.orange { background-color: orange !important;}
