.sidebar-xarxes {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  .entry {
    h5 { display: none; }
    width: 50%;
    padding: 1rem;
  }

  .newsletter {
    input {
      border:1px solid $white;
      padding: 1rem;
      border-radius: 0.2rem;
      width: 80%;
      display: inline-block;
      &:last-child {
        width: 15%;
        background: $primary;
        border:1px solid $primary;
        color:$white;
      }
    }
  }

  @include sm {
    .entry {
      width: 15%;
      &:first-child {
        width: 40%;
      }
    }
  }

  @include md {
    .entry {
      width: 15%;
    }
  }
}
