.editor-styles-wrapper{
    background: #fff;

// VARIABLES

// @import './partials/reset.scss';
@import './partials/variables.scss';
// @import './partials/gen-noadmin.scss';

// GENERIC

@import './partials/generics.scss';
@import './partials/colors.scss';
@import './partials/fonts.scss';
@import './partials/editorialcontent.scss';

// @import './partials/buttons.scss';
// @import './partials/icons.scss';
// @import './partials/burguer.scss';
// @import './partials/lupa.scss';
// @import './partials/animations.scss';
// @import './partials/xarxes.scss';
// @import './partials/search-form.scss';


// BASIC ESTRUCTURE

// @import './partials/header.scss';
// @import './partials/menu.scss';
@import './partials/grid.scss';
@import './partials/blocks.scss';
@import './partials/list.scss';
@import './partials/single.scss';
@import './partials/single-location.scss';
@import './partials/single-event.scss';
// @import './partials/single.scss';
// @import './partials/footer.scss';


// PAGES

@import './partials/pages/home.scss';
// @import './partials/pages/page.scss';
// @import './partials/pages/404.scss';
// @import './partials/pages/contact.scss';
// @import './partials/pages/search.scss';
// @import './partials/pages/about.scss';

// LANDING PAGES

@import './partials/landingpages/desnudos.scss';
@import './nutrities.scss';


// BLOCKS

@import './partials/blocks/slider.scss';
@import './partials/blocks/block-menu.scss';
@import './partials/blocks/related.scss';
@import './partials/blocks/events.scss';
@import './partials/blocks/projects-slider.scss';
@import './partials/blocks/carussel.scss';
@import './partials/blocks/ticker.scss';
@import './partials/blocks/mapa.scss';
@import './partials/blocks/noticias.scss';
@import './partials/blocks/relacionado.scss';
@import './partials/blocks/donaciones.scss';
@import './partials/blocks/descargas.scss';
@import './partials/blocks/redes-sociales.scss';

// PATTERNS

@import './partials/patterns/block-header.scss';

.components-toolbar-group .components-toolbar-button[aria-label="Encabezado 1"] {
  display: none;
}


a {
  text-decoration: none;
}


em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.alignfull {
  width: 100%;
  max-width: 100%;
}

.wp-block-columns .wp-block {
  margin-left: auto;
  margin-right: auto;

  &.block-center {
    margin:0 auto;
  }
}



.alignwide {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

// CONTAINER FLUID
.content-area {
  margin: 0 auto;
  width: 100%;
}

.wp-post-image,
.img-responsive {
  width: 100%;
  height: auto;
}

.wp-post-image img,
.img-responsive img{
  width: 100%;
  height: auto;
}

.img-circular { border-radius: 50%;}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.hide { display: none; }

.alignwide {
  margin: 0 auto !important;
  width: 100% !important;
  max-width: $max-width !important;
}

.aligncenter {
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 80rem !important;
}

.float-left {float:left;}
.float-right {float:right;}

.to-top {
  float: right;
  margin: 2rem 1rem 0 0;
  cursor:pointer;
}

.redondeado {
  border-radius:1rem ;
}



.wp-block-image figcaption {
    margin-top: 2rem;
    margin-bottom: 1em;
    font-size: 17px !important;
}

.editor-post-title .editor-post-title__input {
    font-size: 3.44em;
    font-weight: 900;
    line-height: 1.2;
}
 p {
  font-size: 1.4rem;
  line-height: 1.65;
}

h1,h2, h3, h4 {
  padding: 0;
  margin:0 0 1rem 0;
  display: block;
  font-family:'TiemposHeadline-Light', serif !important;
  font-weight: 400 !important;
  }
  
  h5, h6 {
    padding: 0;
    margin:0 0 1rem 0;
    display: block;
    font-family:'Suisse-Regular', sans-serif !important;
    }
  

.owl-carousel {
  display: flex !important;
  flex-direction: row !important;
  overflow-x: auto;
  .entry {
    width: 20rem;
    margin: 0 1rem;
  }
}


/* NOTICIAS */
.wp-block-noticias {
  .owl-carousel {
    .owl-stage {
      padding-left: 0;
      padding-right: 0;
    }
    .entry {
      background-color:$primary;
      .entry-content {
        @include font-size(20);
        .category-list {
          li.entry-categories {
            @include font-size(16);
          }
        }

        h3.entry-title {
          @include font-size(20);
          text-align: center;
        }
      }
      
      a {
        height: 1px;
        bottom: auto;
      }
    }
  }
  
}

/* TABS */


ul.acf-tab-group {
  li {
    padding-left: 0;
    margin: 1rem 0 0 1rem;
    a {
      padding: 0.5rem 1rem 0.35rem 1rem;
    }
  }
}

/* CHOICE */

.acf-bl {
padding-left: 0;
  &.choices-list,
  &.values-list {
    li {
      @include font-size(11);
      line-height: 120%;
      margin:0;
      padding: 0;
      .acf-rel-item {
        float: left;
        width: 100%;
        padding-left: 0;
        .thumbnail {
          width: 3rem;
          height: 3rem;
        }
        
        img {
          width: 3rem;
          height: 3rem;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

  

}



// ADMIN THUMNAILS

#the-list .has-post-thumbnail .column-featured_thumb .attachment-admin-list-thumb {
  max-width: 10rem;
  height: auto;
}



