.wp-block-header{
  padding: 4em 0;

  ul {
    display:block;
    text-align: center;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 1rem;
      padding-left: 2.5rem;
      @include font-size(20);
      line-height: 1.5;
      position: relative;

      &:before {
        content:'·';
        color:$primary;
        position:absolute;
        left:0;
        top:0;
      }

      &:first-child:before {
        content:'';
      }

      a {
        color:$primary;
        border-bottom:none;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          border-bottom: 2px solid $primary;
          transition: 0.35s;
        }
      }
    }
  }
}

/* LISATDO VALORES / AMBITOS */

.wp-block-group.ambitos-valores {
  padding: 4rem 3rem !important;

  h3 {
    max-width: $max-width;
    margin: 0 auto 3rem;
    padding-left: 0;
  }

  ul {
    margin:0 !important;
    padding:0;
    li {
      border-bottom: 0.1rem solid $white;
      list-style-type: none;
      margin-left: 0;
      margin-right: 2rem;
      &:first-child {
        border-top: 0.1rem solid $white;
        
      }
      a {
        font-family: $fs-regular;
        @include font-size(28);
        line-height: 150%;
        color:$white;
        padding: 1.4rem 0 1rem 3.5rem;
        display: block;
        position: relative;
        &::before {
          position: absolute;
          top:calc(50% - 1.2rem);
          left:0;
          content:' ';
          display: block;
          width: 2.5rem;
          height: 2rem;
          background:url('../img/arrow-more-white.svg') center no-repeat;
          background-size: 100%;
        }
      }
      
    }
  }
  .wp-block-column:last-child {
    ul {
      li {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  @include tablet {
    .ambitos-valores-columnas {
      max-width: $max-width;
      margin:0 auto;
      padding-bottom: 2rem;
    }
    .wp-block-column {
      padding-right: 1rem;
      ul {
        li {
          a {
            font-family: $fs-regular;
            @include font-size(24);
          }
        }
      }
    }
    .wp-block-column:last-child {
      padding-left: 1rem;
      ul {
        li {
          &:first-child {
            border-top: 0.1rem solid $white;
          }
        }
      }
    }
  }

  @include large {
    padding: 2rem;
    h3 { 
      padding-top: 4rem;
      max-width: $max-width;
      margin: 0 auto 4rem;
    }
    .wp-block-column {
      padding-right: 4rem;
      ul {
        li {
          a {
            white-space: pre; /* CSS2 */
            white-space: pre-wrap; /* CSS 2.1 */
            white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
            word-wrap: break-word; /* IE */
            @include font-size(28);
          }
        }
      }
    }
    .wp-block-column:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include xlarge {
    padding: 2rem;
    h3 { 
      padding-top: 2rem;
      margin: 0 auto 3rem;
      @include font-size(60);
    }
    .wp-block-column {
      padding-right: 4rem;
      ul {
        li {
          a {
            @include font-size(32);
          }
        }
      }
    }
  }
}