.archive,
.blog,
.search,
.page-template {
  .section-header {
    margin: 2rem 1rem 0;
    border-bottom: 0.1rem dashed $primary;

    h2 {
      font-family: $fs-regular;
      color:$primary;
      margin-bottom: 2rem;
      max-width: 90rem;
    }

    .taxonomy-description {
      max-width: 82rem;
      margin-bottom: 2rem;
      display: block;
      p {
        @include font-size(14);
        line-height: 130%;
        color:$primary;
      }
    }

    .wp-block-buttons {
      display:none;
      position: fixed;
      top:6.5rem;
      right:1rem;
      z-index: 10;
      .wp-block-button a{
        padding: 1.85rem 2.4rem;
        background: $primary;
        font-family: $fp-light;
        transition: 0.25s;
        border: 0.1rem solid $primary;
        &:hover {
          background: $white;
          color:$primary;
        }
      }
    }
  }

  .entry-content {
    p,ul li, {
      a {
        color:$primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .entry-list {
    margin-top: 2rem;
    padding:0;

    .entry {
      margin: 0 0 2rem 0;
      padding-bottom: 2rem;
      position: relative;
      border-bottom: 0.1rem dashed $primary;
      display: flex;
      flex-direction: column;
      
      a.link {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1;
      }

      .entry-image {
        width: 100%;
        margin:0 0 2rem 0;
        padding-bottom: 70%;
        display: block;
      }

      .entry-content {
        width: 100%;
        max-width: 82rem;

        ul.category-list {
          position: relative;
          z-index: 5;
        }

        .entry-title {
          margin: 3rem 0 2rem 0;
          color:$primary;
          a {
            color:$primary;
          }
        }

        .resum {
          color:$gray;
          font-family: $fp-regular;
          @include font-size(18);
          line-height: 150%;
          padding: 0;
        }
      }
  }

  @include tablet {
    .section-header {
      margin: 4rem 4rem 2rem 6rem;
      border-bottom: 0.1rem dashed $primary;
  
      h2 {
        font-family: $fs-regular;
        color:$primary;
        margin-bottom: 2rem;
        max-width: 90rem;
      }
  
      .taxonomy-description {
        display: block;
        max-width: 82rem;
        margin-bottom: 4rem;
        display: block;
        p {
          @include font-size(16);
          line-height: 130%;
          color:$primary;
        }
      }
  
      .wp-block-buttons {
        position: fixed;
        top:4.5rem;
        right:4rem;
        .wp-block-button a{
          padding: 1.85rem 2.4rem;
          background: $primary;
          font-family: $fp-light;
          transition: 0.25s;
          border: 0.1rem solid $primary;
          &:hover {
            background: $white;
            color:$primary;
          }
        }
      }
    }

    .entry {
      margin: 0 0 2rem 0;
      padding-bottom: 2rem;
      flex-direction: row;
      
      .entry-image {
        width: 23rem;
        margin:0 4rem 2rem 0;
        padding-bottom: 20%;
        display: block;
      }

      .entry-content {
        // width: calc(100% - 48rem);
        // max-width: 52rem;
    
        &.no-image {
          width: 100%;
        }

        ul.category-list {
          position: relative;
          z-index: 5;
        }

        .entry-title {
          margin: 2rem 0 1rem;
          color:$primary;
          a {
            color:$primary;
          }
        }

        .resum {
          color:$gray;
          font-family: $fp-regular;
          @include font-size(20);
          line-height: 150%;
          padding: 0;
        }
      }
      
    }
  }
  

  }

  @include tablet {
  .section-header {
    .wp-block-buttons {
      top: 2.5rem;
      right: 2rem;
      display: block;
    }
  }

  .entry-content {
    // width: calc(100% - 25rem);
    &.no-image {
      width: 100%;
    }

    ul.category-list {
      position: relative;
      z-index: 5;
    }

    .entry-title {
      margin: 2rem 0 1rem;
      color:$primary;
      a {
        color:$primary;
      }
    }

    .resum {
      color:$gray;
      font-family: $fp-regular;
      @include font-size(20);
      line-height: 150%;
      padding: 0;
    }
  }
    
  }

  @include laptop {

    .section-header {
      margin: 4rem auto;
      max-width: 100rem;
      padding-right:10rem;

      .taxonomy-description {
        max-width: 65%;
        p {
          @include font-size(16);
        }
      }
    }

    .entry-list {
      margin-top: 2rem;
      padding:2rem 2rem 0 2rem;
      margin: 0 auto;
      max-width: 100rem;
      
      .entry {
       
        .entry-image {
          width: 30rem;
          margin:0 4rem 2rem 0;
          padding-bottom: 20%;
          display: block;
        }
        .entry-content {
          max-width: 75rem;
          width: calc(100% - 30rem);
          .entry-title {
            @include font-size(40);
          }
        }
      }
    }

  }

  @include large {
    .section-header {
      margin: 2rem auto;
      max-width: 124rem;
    }
    .entry-list {
      margin: 2rem auto 0 auto;
      padding:2rem 2rem 0 0;

      max-width: 124rem;
      padding-right:0;

      .entry {
        .entry-image {
          width: 20rem;
          margin:0 2rem 2rem 0;
          padding-bottom: 20%;
          display: block;
        }
        .entry-content {
          width: calc(100% - 20rem);
          max-width: 100;
          .entry-title {
            @include font-size(40);
          }
        }
      }
    }
  }

  @include xlarge {
    .entry-list {
    .entry {
      .entry-image {
        width: 25rem;
        padding-bottom: 18%;
      }

      .entry-content {
        width: calc(100% - 24rem);
        max-width: 76rem;
    
        &.no-image {
          max-width: 76rem;
        }
      }
      &:first-child {
        .entry-image,
        .entry-content {
        max-width: 90rem;
        }
      }
    }
    }
  }

  
}
// end xarxes

// .blog {
  // .entry-list {
    // .entry:first-child {
    //   flex-direction: column;
    //     .entry-image {
    //       width: 100%;
    //       padding-bottom: 60%;
    //       max-width: 82rem;
    //     }
    //     .entry-content {
    //       width: 100%;
    //       max-width: 82rem;
    //     }
      
    //     @include tablet {
    //       .entry-image {
    //         width: 95%;
    //         padding-bottom: 38.5%;
    //       }
    //       .entry-content {
    //         width: 95%;
    //       }

    //     }
      
    //     @include laptop {

    //       .entry-image {
    //         width: 100%;
    //         padding-bottom: 60%;
    //         padding-right: 0;
    //       }
    //       .entry-content {
    //         width: 100%;
    //         .entry-title {
    //           @include font-size(45);
    //         }
    //       }
      
    //     }
      
    //     @include large {

    //       .entry-content {
    //         width: 100%;
    //         .entry-title {
    //           @include font-size(50);
    //         }
    //       }
    //     }
    // }  
  // }
// }