.btn-donar {
    &.btn-white {
        border:0.1rem solid $primary;
        background-color:$white;
        a {
            color:$primary;
            &:after {
                content:' ';
                margin:0 0  0 0.75rem;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                background:url('../img/ico-cuore.svg') center no-repeat;
                background-size: 100%;
            } 
        }

        &:hover {
            background-color:$primary !important;
            border:0.1rem solid $primary;
            a {
            color:$white !important;
                &:after {
                    content:' ';
                    margin:0 0  0 0.75rem;
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    background:url('../img/ico-cuore-white.svg') center no-repeat;
                    background-size: 100%;
                } 
            }
        }
    }

    &.btn-full {
        background-color:$primary;
        border:0.1rem solid $primary;
        a {
            color:$white;
            &:after {
                content:' ';
                margin:0 0  0 0.75rem;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                background:url('../img/ico-cuore-white.svg') center no-repeat;
                background-size: 100%;
            } 
        }

        &:hover {
            background-color:$white !important;
            border:0.1rem solid $primary;
            a {
            color:$primary !important;
            &:after {
                content:' ';
                display: inline-block;
                margin:0 0  0 0.75rem;
                width: 1.5rem;
                height: 1.5rem;
                background:url('../img/ico-cuore.svg') center no-repeat;
                background-size: 100%;
                } 
            }
        }
    }
}

.btn-primary {
    background-color:$primary;
    border:0.1rem solid $primary;
    border-radius: 0.3rem;
        a { 
            padding: 1rem;
            color:$white;
        }
        &:hover {
            background-color:$white !important;
            border:0.1rem solid $primary !important;
            a { color:$primary !important; }
        }
}


/* DROPDOW MENNU */

button.dropdown-btn {
    width: 100%;
    text-align: left;
    margin:0 0 1rem 0;
    padding: 0.5rem 0;
    @include font-size(14);
    line-height: 100%;
    position: relative;
    &:after {
        content: ' ';
        background: url("../img/ico-dropdown.svg") center no-repeat;
            background-size: auto;
        background-size: 2rem;
        position: absolute;
        top: 0.35rem;
        right: 0.5rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    &.active {
        &:after {
        content: ' ';
        background: url("../img/ico-dropdown-up.svg") center no-repeat;
        background-size: auto;
        background-size: 2rem;
        position: absolute;
        top: 0.35rem;
        right: 0.5rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        }
    }
  }