.button {
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 0;
    // @include font-size(18);
    line-height: 2;
    // cursor: pointer;
    text-align: center;
    pointer:cursor;
  }
  
  
  .button:hover,
  .button:active,
  .button {
    &.is-checked {
    color:red;
    text-decoration: underline;
    }
  }
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }