.grid {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;

    .entry {
      align-self:flex-end;
    }

    

     @include mobileM {
      flex-direction: row;  
     }

     @include mobileL {

     }

     @include tablet {
      .entry {
        width: 33.3333%;
      }
     }

     @include laptop {
       .entry {
         width:25%;
       }
     }

     @include large {

     }
}
// end grid

  .is-layout-grid {
    li {
      margin: 0;
      padding: 0;
    }

    display: grid;
    grid-template-columns: 1fr;
    &.columns-2,
    &.columns-3,
    &.columns-4,
    &.columns-5,
    &.columns-6 {
      gap: 1rem;
      grid-template-columns: 1fr;
    }

    @include tablet {
      &.columns-2,
      &.columns-3,
      &.columns-4,
      &.columns-5,
      &.columns-6 {
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
      }
    }

    @include laptop {
      gap: 4rem;
      &.columns-2 {
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
      }
      &.columns-3 {
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.columns-4 {
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.columns-5 {
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      &.columns-6 {
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    .wp-block-group {
      .wp-block-post-featured-image {
        margin-bottom: 1rem;
        img {
          border-radius: 1rem;
        }
      }
      .wp-block-post-title {
        @include font-size(26);
        line-height: 125%;
        margin-bottom: 1rem;
        a:hover {
          text-decoration: none !important;
        }
      }
    }
  }