
// MENU NAV

nav.menu-nav {
  height: calc(100vh - 20rem);
  overflow-y: scroll;
  position: relative;
  z-index: 10;
  ul.menu-list {
    margin:0 1rem 0 1.5rem;
    list-style-type: none !important;
    li.menu-item {
      position: relative;
      text-align: left;
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      font-family: $fp-regular;
      line-height: 100%;
      color:$primary;
      list-style-type: none !important;
      border-bottom: 0.1rem solid $primary;

      a {
        color:$primary;
        padding: 1.5rem 6rem 1.5rem 0;
        @include font-size(28);
        line-height: 100%;
        width: calc(100% - 6rem);
        display: block;
      }

      ul.sub-menu {
        margin: 0;
        height: 0;
        list-style-type: none;
        display: none;
      
        li {
          width: 100%;
          list-style-type: none;
          
          &.menu-item {
            font-family:$fp-light;
            padding: 0;
            margin: 0;
            text-transform: none;
            line-height: 135%;
            color:$primary;
            letter-spacing: 0.02rem;

            a {
              width: 100%;
              @include font-size(24);
              line-height: 100%;
              text-align: left;
              padding-left: 3rem;
            }
      
          //   &:after {
          //     content:' ';
          //     background: url('../img/ico-right-arrow.svg') center no-repeat !important;
          //     background-size: 1.5rem;
          //     position: absolute;
          //     top:2rem;
          //     left: 0;
          //     display: block;
          //     width: 1.5rem;
          //     height: 1.5rem;
          // }
        }
      }
    }

    &.open > ul.sub-menu{
      display: block !important;
      height: auto;
    }


    &.menu-item-has-children:after {
      content:' ';
      background: url('../img/ico-dropdown.svg') center no-repeat;
      background-size: 2rem;
      position: absolute;
      top:1.5rem;
      right: 1rem;
      display: block;
      width: 2rem;
      height: 2rem;
    }

    &.menu-item-has-children.open:after {
      background: url('../img/ico-dropdown-up.svg') center no-repeat;
      background-size: 2rem;
      position: absolute;
      top:1.5rem;
      right: 1rem;
      display: block;
      width: 2rem;
      height: 2rem;
    }

    &.btn-donar {
         text-align: center;
         position: relative;
         color:$white;
         background-color: $primary;
          a {
           color:$white;
          }
          &:before{
            position: absolute;
            content: ' ';
            display: block;
            width: 2.5rem;
            height: 2.2rem;
            background: url('../img/ico-cuore-white.svg') center no-repeat;
            background-size: 100% 100%;
            right: 2rem;
            top: 1.3rem;
          }
          &:hover {
            opacity: 0.8;
          } 
        }
      }
    }

    @include laptop {
      max-height: 5rem;
      overflow:initial;
      border-left:1px solid $white;

      ul.menu-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin: 0;
        
        li.menu-item {
          border-right:0.1rem solid $white;
          color:$white;
          text-align: left;
          margin: 0;
          background-color: $primary;
          width:16.66%;
          position: relative;
          z-index: 1;
          a {
            padding: 1.7rem 0 1.4rem 2rem;
            width: calc(100% - 3rem);
            height: 100%;
            color:$white;
            cursor: pointer;
            @include font-size(17);
          }

          &.btn-donar {
            padding:0;
            margin-bottom: 0;
            @include font-size(17);
            line-height: 150%;
            color: $white;  
          }

          ul.sub-menu {
              position: absolute;
              top: 5rem;
              left: 0;
              right: 0;
              background-color: $white !important;
              z-index: 30;
              box-shadow: 0 5px 10px 0px rgba(0,0,0,0.33);
              -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.33);
              -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.33);

              li.menu-item {
                background-color: $white;
                position: relative;
                border-top:1px solid $primary;
                border-bottom:0 solid $primary;
                a {
                  @include font-size(16);
                  line-height: 120%;
                  display: block;
                  padding: 1rem;
                  color:$primary;
                }
                ul.sub-menu {
                  display: block;
                  position: relative;
                  top: 0;
                  left: 0;
                  right: 0;
                  height: inherit;
                  box-shadow: 0 0 0 0 rgba(0,0,0,0.33);
                  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.33);
                  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.33);
                  li.menu-item {
                    padding-left: 1.5rem;
                    display: block;
                    position: relative;
                    height: inherit;
                  }
                }
              }
            }

        &.open > ul.sub-menu {
          display: block;
        }     

        &.menu-item-has-children:after {
          background: url('../img/ico-dropdown-white.svg') center no-repeat !important;
          top:1.6rem;
          right: 1rem;
        }

        &.menu-item-has-children.open:after {
          background: url('../img/ico-dropdown-up-white.svg') center no-repeat !important;          
          top:1.6rem;
          right: 1rem;              
        }
      }
      // END MENU ITEM
    }
  }
  // END LAPTOP
}
// END MENU NAV

/* MENU SER HERMANOS */
.menu-menu-nav-hermano-container {
  border-top:0.1rem solid $primary;
  width: 100%;
  .menu-ser-hermano {
    ul.menu-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 1.5rem;
      li {
        width: 100%;
        text-align: center;
        margin: .5rem 0;
        border:0.1rem solid $primary;
        padding:1rem .5rem;
        list-style: none;
        a {
          @include font-size(18);
          line-height: 150%;
          color:$primary;
          text-align: center;
          font-weight: 200;
          &:after {
            content:' +';
            font-weight: 200;
          }
        }
      }
    }
  }

  @include laptop {

    width: 100%;
  .menu-ser-hermano {
    ul.menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 0;

      li {
        width: 50%;
        text-align: center;
        border:none;
        margin: 0;
        border-right:0.1rem solid $primary;
        padding:.5rem .5rem;

        a {
          
          @include font-size(30);
          font-weight: 200;
        }

        &:last-child {
          border-right:0 solid $primary;
        }
      }
    }
  }

  }
}


/* NUMBERS MENU */

.menu-numbers {
  margin:0 auto;
  display: none;
  border-top:0.1rem solid $primary;

  .entry-menu {
    .wp-block-quote {
      &:after,
      &:before {
        content:none;
      }
      
      padding: 0;
      color:$primary; 
      p {
        font-family: $fs-regular;
        font-weight: 200;
        @include font-size(40);
        line-height: 80%;
        margin-bottom: 0.5rem;
      }
  
      cite {
        @include font-size(14);
        line-height: 100%;
        font-family: $fs-regular;
        font-weight: 200;
      }
    }
  }
  @include laptop {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    padding: 0 2rem
  }

  @include large {
    .entry-menu {
    .wp-block-quote {
      margin: 3rem 0;
      padding: 0 1.5rem;
    p {
      @include font-size(40);
      line-height: 90%;
      margin-bottom: 1rem;
    }

    cite {
      @include font-size(18);
      }
    }
  }
}
 
}

/* MENU CONTACTO */

.menu-menu-nav-contacto-container {
  margin-top: -1rem;
  width: 100%;
.menu-contact {
  border-bottom: 0.1rem solid $primary;
  ul.menu-list {
    margin:0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    li.menu-item {
      padding: 1.5rem;
      width: calc(50% - 0.5rem);
      margin:0;
      color:$primary;
      list-style-type: none;
      &.btn-contacto,
      &.btn-primary,
      &.btn-donar {
        border-radius: 0;
        background-color: $white;
        border:none;
        text-align: center;
        a {
          color:$primary;
          line-height: 140%;
          &:hover {
            border: none !important;
          }
        }
       
      }
      &:first-child {
        border-right:0.1rem solid $primary;
      }
      a {
        color:$primary;
        text-align: center;
        display: block;
        padding: 0;
      }
      &.btn-comuniacion {
        margin: 1rem 0;
        padding: 1rem;
        // width: 100%;
        a {
          @include font-size(16);
          font-family: $fp-regular;
          color:$primary;
          line-height: 120%;
          border:none;
        }
        ul.sub-menu {
          margin:0;
          li {
            width: 100%;
            position: relative;
            padding: 0 0 0 2rem;
            &:after {
              content: ' ';
              background: url("../img/ico-right-arrow.svg") center no-repeat;
              background-size: auto;
              background-size: 1.5rem;
              position: absolute;
              top: calc(50% - 0.75rem);
              left: 0;
              display: block;
              width: 1.5rem;
              height: 1.5rem;
            }
            a {
              @include font-size(16);
              line-height: 100%;
              }
            }
          }
        }
      }
    }
  }

  @include laptop {
    display: none !important;
  }
}

/* MENU HERMANO */

body > .menu-menu-nav-hermano-container {
  position: absolute;
  top:0;
  left: 0;
  display: none;

   @include tablet {
     z-index: 20;
     width: 70rem;
     height: 8rem;
     display: block;
     position:fixed;
     transform:rotate(-90deg) translateX(-85.4rem);
     -webkit-transform-origin: left top;
     -webkit-transform:rotate(-90deg) translateX(-85.4rem);
     

     .menu-ser-hermano-out {
       ul.menu-list {
         text-align: right;
         margin-top: 0;
         li {
           display: inline-block;
           text-align: center;
           border:none;
           margin: 0;
           border-right:0.1rem solid $primary;
           padding:2rem 4rem 2.3rem 4rem;
           transition: 0.35s;
  
           a {
             color:$primary;
             font-size: $fp-regular;
             @include font-size(24);
             font-weight: 200;
             line-height: 150%;
             display: block;
             &:after {
               content:' +';
             }
           }

           &:hover {
             background-color: $primary;
             a {
               color:$white;
             }
           }
           &:first-child {
            border-left:0.1rem solid $primary;
           }
           &:last-child {
            border-right:0.1rem solid $primary;
           }
         }
       }
     }
   }

   @include laptop {
      width: 80rem;
      -webkit-transform-origin: left top;
      transform:rotate(-90deg) translateX(-95.4rem);
      -webkit-transform:rotate(-90deg) translateX(-95.4rem);
   }

   @include large {
    -webkit-transform-origin: left top;
    transform:rotate(-90deg) translateX(-100rem);
    -webkit-transform:rotate(-90deg) translateX(-100rem);
 }
}
