
// MENU NAV

nav.menu-nav {
  ul.menu-list {
    margin:0 1rem 0 1.5rem;
    list-style-type: none !important;
    li.menu-item {
      text-align: left;
      padding: 0;
      margin: 0 0 1rem 0;
      display: block;
      @include font-size(30);
      font-family: $fp-regular;
      line-height: 100%;
      color:$primary;
      position: relative;
      list-style-type: none !important;

      a {
        color:$primary;
        padding-bottom: 1rem;
        display: block;
        // border:1px solid red;
      }


      &.menu-item-has-children:after {
        content:' ';
        background: url('../img/ico-dropdown.svg') center no-repeat;
        background-size: 2rem;
        position: absolute;
        top:0.7rem;
        right: 1rem;
        display: block;
        width: 2rem;
        height: 2rem;
      }

      &.menu-item-has-children.open:after {
        background: url('../img/ico-dropdown-up.svg') center no-repeat;
        background-size: 2rem;
        position: absolute;
        top:0.7rem;
        right: 1rem;
        display: block;
        width: 2rem;
        height: 2rem;
      }

      ul.sub-menu {
        margin: 0;
        display: none;
        height: 1px;
        list-style-type: none !important;
        li {
          width: 100%;
          list-style-type: none !important;
          &.menu-item {
            @include font-size(16);
            font-family:$fp-light;
            padding: 0 0 0 2rem;
            margin: 0;
            text-transform: none;
            line-height: 135%;
            color:$primary;
            letter-spacing: 0.02rem;

            a {
              padding-bottom: 0.5rem;
              margin-bottom: 0;
            }
      
            &:after {
              content:' ';
              background: url('../img/ico-right-arrow.svg') center no-repeat;
              background-size: 1.5rem;
              position: absolute;
              top:0.5rem;
              left: 0;
              display: block;
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }

      &.open {
        ul.sub-menu{
          display: block;
          height: auto;
        }
      }

    } // END MENU ITEM


    @include laptop {
      height: 46rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      li.menu-item {
        width: calc(33.3333% - 2rem);
        @include font-size(26);
        line-height: 100%;
        padding-bottom: 0;
        margin: 2rem 2rem 0 0;

        a {
          margin-bottom: 0;
          padding:0 2rem 0 0;
        }
        
        &.menu-item-has-children:after,
        &.menu-item-has-children:before,
        &.menu-item-has-children.open:after,
        &.menu-item-has-children.open:before {
          content:'';
          background: none;
        }
        
        ul.sub-menu {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          height: 100%;
          li.menu-item {
            @include font-size(14);
            margin-top: 0;
            a {
              padding-bottom: 0;
            }
          }    
        }
      } 
    }

    @include large {
      height: 70rem;
      li.menu-item {
        @include font-size(28);
        margin-top: 2rem;
        ul.sub-menu {
          li.menu-item {
            @include font-size(18);
            line-height: 135%;
            margin:0 0 0.25rem 0;
          }
        }
      }
    }

    @include xlarge {
      height: 76rem;
      padding-bottom: 2rem;
      li.menu-item {
        @include font-size(34);
        margin-top: 4rem;
        ul.sub-menu {
          li.menu-item {
            @include font-size(20);
            line-height: 135%;
            margin:0 0 0.25rem 0;
          }
        }
      }
    }
  } // END MENU LIST

}

/* MENU SER HERMANOS */
.menu-menu-nav-hermano-container {
  border-top:0.1rem solid $primary;
  width: 100%;
  .menu-ser-hermano {
    ul.menu-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 1.5rem;
      li {
        width: 100%;
        text-align: center;
        margin: .5rem 0;
        border:0.1rem solid $primary;
        padding:1rem .5rem;
        list-style: none;
        a {
          @include font-size(18);
          line-height: 150%;
          color:$primary;
          text-align: center;
          font-weight: 200;
          &:after {
            content:' +';
            font-weight: 200;
          }
        }
      }
    }
  }

  @include laptop {

    width: 100%;
  .menu-ser-hermano {
    ul.menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 0;

      li {
        width: 50%;
        text-align: center;
        border:none;
        margin: 0;
        border-right:0.1rem solid $primary;
        padding:.5rem .5rem;

        a {
          
          @include font-size(30);
          font-weight: 200;
        }

        &:last-child {
          border-right:0 solid $primary;
        }
      }
    }
  }

  }
}


/* NUMBERS MENU */

.menu-numbers {
  margin:0 auto;
  display: none;
  border-top:0.1rem solid $primary;

  .entry-menu {
    .wp-block-quote {
      &:after,
      &:before {
        content:none;
      }
      
      padding: 0;
      color:$primary; 
      p {
        font-family: $fs-regular;
        font-weight: 200;
        @include font-size(40);
        line-height: 80%;
        margin-bottom: 0.5rem;
      }
  
      cite {
        @include font-size(14);
        line-height: 100%;
        font-family: $fs-regular;
        font-weight: 200;
      }
    }
  }
  @include laptop {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    padding: 0 2rem
  }

  @include large {
    .entry-menu {
    .wp-block-quote {
      margin: 3rem 0;
      padding: 0 1.5rem;
    p {
      @include font-size(40);
      line-height: 90%;
      margin-bottom: 1rem;
    }

    cite {
      @include font-size(18);
      }
    }
  }
}
 
}

/* MENU CONTACTO */

.menu-menu-nav-contacto-container {
  
  width: 100%;
.menu-contact {
  ul.menu-list {
    margin:0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    li.menu-item {
      padding: 1rem;
      width: calc(50% - 1rem);
      margin:0.5rem;
      color:$primary;
      list-style-type: none;
      &.btn-contacto,
      &.btn-donar {
        text-align: center;
        a {
          color:$white;
          line-height: 140%;
        }
      }
      a {
        color:$primary;
        text-align: center;
        display: block;
        padding: 0;
      }
      &.btn-comuniacion {
        margin: 1rem 0;
        padding: 1rem;
        // width: 100%;
        a {
          @include font-size(16);
          font-family: $fp-regular;
          color:$primary;
          line-height: 120%;
        }
        ul.sub-menu {
          margin:0;
          li {
            width: 100%;
            position: relative;
            padding: 0 0 0 2rem;
            &:after {
              content: ' ';
              background: url("../img/ico-right-arrow.svg") center no-repeat;
              background-size: auto;
              background-size: 1.5rem;
              position: absolute;
              top: calc(50% - 0.75rem);
              left: 0;
              display: block;
              width: 1.5rem;
              height: 1.5rem;
            }
            a {
              @include font-size(16);
              line-height: 100%;
              }
            }
          }
        }
      }
    }
  }

  @include laptop {
    border-top:0.1rem solid $primary;
    .menu-contact {
      
       ul.menu-list {
         width: 100%;
        margin: 0;
        border-bottom: 0.1rem solid $primary;
        justify-content:space-between;
        li.menu-item {
          display: flex;
          flex-direction: row;
          justify-content:center;
          border:none;
          border-right:0.1rem solid $primary;
          padding: 0;
          margin:0;
          background-color:$white;
          text-align: center;
          border-radius: 0;

          &:last-child {
            border-right:0 solid $primary !important;
          }
         
          a {
            color:$primary !important;
            transition: 0.25s;
            @include font-size(16);
            &:hover {
              background-color:$primary;
              color:$white !important;
            }
          }

          &.btn-contacto {
            width: 20%;
             &:hover {
               border-top:none !important;
               border-bottom:none !important;
               border-left:none !important;
            }
            a {
              padding: 1rem;
              width: 100%;
              height: 100%;
              display: block;
            }
          }
         
          &.btn-donar{
            width: 20%;
            &.btn-full a:after {
              display: inline-block;
              width: 1rem;
              height: 1rem;
              content:' ';
              background:url('../img/ico-cuore.svg') center no-repeat;
              background-size: 100% 100%;
            }
          }

          &.btn-comuniacion {
            width:20%;
            margin: 0;
            padding: 0;
            justify-content: right;
            border-left:0.1rem solid $primary;
            a {
              padding: 1rem;
              @include font-size(16);
              line-height: 154%;
              font-weight: 400;
              padding: 1rem;
              width: 100%;
            }

            &:last-child {
              border-right:none;
            }
           
            ul.sub-menu {
              padding: 0;
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
              li {
                border:none;
                 a {
                  display: block;
                  @include font-size(15);
                  line-height: 150%;
                }
              }
            }
          }

        }

      }
    
    
    }
    
  }
}

/* MENU HERMANO */

body > .menu-menu-nav-hermano-container {
  position: absolute;
  top:0;
  left: 0;
  display: none;

   @include tablet {
     z-index: 20;
     width: 70rem;
     height: 8rem;
     display: block;
     position:fixed;
     transform:rotate(-90deg) translateX(-85.4rem);
     -webkit-transform-origin: left top;
     -webkit-transform:rotate(-90deg) translateX(-85.4rem);
     

     .menu-ser-hermano-out {
       ul.menu-list {
         text-align: right;
         margin-top: 0;
         li {
           display: inline-block;
           text-align: center;
           border:none;
           margin: 0;
           border-right:0.1rem solid $primary;
           padding:2rem 4rem 2.3rem 4rem;
           transition: 0.35s;
  
           a {
             color:$primary;
             font-size: $fp-regular;
             @include font-size(24);
             font-weight: 200;
             line-height: 150%;
             display: block;
             &:after {
               content:' +';
             }
           }

           &:hover {
             background-color: $primary;
             a {
               color:$white;
             }
           }
           &:first-child {
            border-left:0.1rem solid $primary;
           }
           &:last-child {
            border-right:0.1rem solid $primary;
           }
         }
       }
     }
   }

   @include laptop {
      width: 80rem;
      -webkit-transform-origin: left top;
      transform:rotate(-90deg) translateX(-95.4rem);
      -webkit-transform:rotate(-90deg) translateX(-95.4rem);
   }

   @include large {
    // .menu-ser-hermano-out {
    //   display: none;
    // }
    -webkit-transform-origin: left top;
    transform:rotate(-90deg) translateX(-100rem);
    -webkit-transform:rotate(-90deg) translateX(-100rem);
 }
}
