.search-nav {
    
  border:0.1rem solid $primary;
  margin: 0 1.3rem 0 1.3rem;
    #search-form {
      color:$primary;
      display:flex;
      flex-direction: row;
      color:$primary;
      @include font-size(20);
      line-height: 100%;
      height: 4rem;
      
      input#search {
        width: calc(100% - 5rem);
        border:none;
        padding-left: 1rem;
        &::placeholder {
          color:$primary;
          padding-left: 1rem;
          @include font-size(16);
        }
      }

      button#searchsubmit {
        width: 4rem;
        border:none;
        background-color: transparent;
  
      }
   

    }

    @include laptop {
      margin:0 0 0 2rem;
    }

}

