.single-location {
    .site-main {
        .entry-single {
            padding-right: 0;
        
    .entry-content {
        padding: 0;
         .entry-header {
              padding:0;

              .entry-antetitle {
                   color:$primary;
                   margin-bottom: 2rem;
                   padding: 1rem 0 0 1rem;
                   font-family: $fp-regular;
                   text-transform: none;
                   text-decoration: none;
                   line-height: 100%;
                   text-transform: uppercase;
                   letter-spacing: 0.2rem;
                   &:before {
                       top:1rem;
                   }
              }

              .entry-title {
                   font-family: $fs-regular;
                   color:$primary;
                   margin: 2rem 0 1rem;
                   padding-left: 1rem;
              }

              h4 {
                  color:$primary;
                  padding: 1rem;
                  font-family: $fp-light;
                  font-weight: 200;
                  @include font-size(28);
                  &:after {
                      content:' )';
                  }

                  &:before {
                    content:'( ';
                    }
              }

              .entry-image {
                line-height: 0;
                border-bottom:0.1rem solid $primary;
              }

            }

        .post-content {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            .entry-paragraph {
                padding: 2rem 1rem 0 0;
                    p {
                        color:$gray;
                        padding: 0;
                        margin: 0 0 2rem 0;
                        @include font-size(18);
                        line-height: 160%;

                        strong {
                            color:$gray;
                        }
                    }
                }

            .button {
                border:0.1rem solid $primary;
                padding: 1.5rem;
                border-radius: 0.3rem;
                transition: 0.3s;
                &:hover {
                    background-color:$primary;
                    color:$white;
                    text-decoration: none;
                }
            }

        }

        h5 {color:$primary;}

        a {
            color:$primary;
            &:hover {
                text-decoration:underline;
            }
            }
        }
        }         
    }

    @include tablet {
        .site-main {

        .entry-single {
            padding-right: 0;
        .entry-content {
            padding: 0;
            .entry-header {
                padding: 0;
  
                .entry-title { 
                    font-family: $fs-regular; 
                    margin: 2rem 4rem;
                 }

                h4 {
                    margin-left: 4rem;
                }

                 dl.entry-categories {
                     margin-left: 5rem;
                }
            }
   
           .post-content {
               .entry-paragraph {
                   padding: 3rem 10rem 4rem 4rem;
                   width: 100%;          
               }
           }         
        }
        }
    }
    }

    @include laptop {
        .site-main {
            .entry-single {
                padding-right: 0;
            
        .entry-content {
    
        .entry-header {
            .entry-antetitle {
                margin-left: 2rem !important; 
            }
            .entry-title,
            h4 {
                margin-left: 2rem !important;
                margin-right: 0 !important;
            }
            dl.entry-categories {
                margin-left: 2rem !important;
            }
        }

        .post-content {
            .entry-paragraph {
                padding: 3rem 10rem 4rem 2rem !important;
                width: 100% !important;
            }

            h5 {
                padding:0 !important;
               }
        }   
    }
}
        }
    }
   
}


/* BUG GOOGLE MAPS */

.gm-style-iw-chr {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: visible;
    height: 0px !important;
}
.gm-style-iw-d {
	overflow: hidden !important;
}

.gm-ui-hover-effect {
	z-index:99 !important;
}

.gm-ui-hover-effect {
    &>span {
        background-color: #0073aa !important;
    }
}
