.single-tribe_events {


     .tribe-events-cal-links {
          display: none !important;
     }

     header.entry-header {
          display: block !important;
     }

     .tribe-events-nav-pagination {

          .tribe-events-sub-nav {

               li {
                    vertical-align: top !important;

                    &.tribe-events-nav-previous {
                         text-align: left;
                    }
          
                    &.tribe-events-nav-next {
                         text-align: right;
                    }

                    a {
                         display: block;
                         padding:0 1.5rem;
                         color:$primary;
                         font-family: $fs-regular;
                         @include font-size(20);
                         &:hover {
                              text-decoration: underline;
                         }
                   } 
               }
          }

     }

     .entry-content {
          
     padding: 0;
     display: flex;
     flex-direction: column;
     .entry-header {
          .entry-antetitle {
               padding: 0.5rem 1.5rem 0;
               margin-bottom: 1rem;
               letter-spacing: 0.2rem;
               display: block;
               @include font-size(14);
               text-transform: uppercase !important;
               font-family: $fp-light;
               
               span {
                    display: inline-block;
               }

               a {
                    color:$primary;
               }
          }

          .entry-title {
               padding:0 1.5rem;
               color:$primary;
               @include font-size(30);
               margin-bottom: 2rem;
          }

     }
     .entry-image {
          line-height: 0;
          margin-bottom: 3rem;
     }
     
     .event-date-detail{
          .entry-antetitle {
               padding: 0;
               margin:1rem 0;
               text-align: center;
               display: block;
               @include font-size(12);
               letter-spacing: 0.2rem;
               color:$gray;
               font-family: $fp-light;
               text-transform: uppercase !important;
               span {
                    display: inline-block;
               }

               a {
                    color:$primary;
               }
          }

          font-family: $fp-light;
          position: relative;
          z-index: 2;
          background: $white;
          margin: -8rem 1.5rem 0 1.5rem;
          padding: 1.5rem;
          @include font-size(18);
          border:0.1rem solid $primary;

          dl {
               dt {
                    @include font-size(12);
                    color:$gray;
                    font-family: $fp-light; 
               }

               dd {
                    font-family: $fs-regular;
                    margin-bottom: 2rem;

                    &.tribe-organizer {
                         color:$primary;
                         @include font-size(24);
                    }

                    &.entry-day {                        
                         padding: 2rem 0 0;
                         font-family: $fs-regular;
                         line-height: 115%;
                         margin-bottom: 0rem;
                         
                         time {
                           text-align: center;
                           color:$primary;
                           @include font-size(100);
                           line-height: 80%;
                           margin: 0 auto;
                           span {
                              display: block;
                              text-align: center;
                              @include font-size(20);
                              text-transform: uppercase;
                              padding: 1.5rem;
                              line-height: 100%;
                              }
                           
                         }
                    }

                    &.tribe-venue-location {
                         font-family: $fp-light;
                         strong {
                              display: block;
                              font-family: $fp-regular;
                              font-weight: 400;
                         }
                    }

                    &.tribe-venue-url {
                         a {
                              color:$primary;
                              text-decoration: underline;
                              font-family: $fp-light;
                              @include font-size(14);
                         }
                    }

                    a.tribe-events-gmap {
                         color:$primary;
                         text-decoration: underline;
                         font-family: $fp-light;
                         @include font-size(14);
                    }

                    div.tribe-events-abbr {
                         color:$primary;
                    }

                    
               }
          }

          .tribe-events-meta-group-details {
               text-align: center !important;
               margin-bottom: 3rem;

               .tribe-events-event-url {


                    a {
                         color:$primary;
                         text-decoration: underline;
                         @include font-size(16);
                         line-height: 100%;
                         text-decoration: underline;
                         font-family: $fp-light;
                    }
               }
          }

          .tribe-events-gmap {
               display: block;
               color:$primary;
               
          }

          .tribe-events-cal-links {
               display: flex;
               flex-direction: row;
               @include font-size(14);
               line-height: 120%;
               padding-bottom: 0;
               margin-bottom: 0;
               a {

                    padding: 1rem 0;
                    margin: 0 0.5rem 0 0;
                    width: 50%;
                    text-align: center;
                    color:$primary;
                    border:0.1rem solid $primary;
                    border-radius: 0.3rem;
                    transition: 0.2s;
                    &:last-child {
                         margin: 0 0 0 1rem;
                    }
                    &:hover {
                         background-color: $primary;
                         color:$white;
                    }
               }
          }

          
     }

     .post-content {
          .entry-paragraph {

               @include font-size(20);
               line-height: 135%;


               .tribe-events-schedule,
               .tribe-block,
               .tribe-events-single-section,
               .tribe-events-event-image {
                    display: none;
               }
               p {
                    padding: 0 1.5rem;
                    margin-bottom: 2rem;
               }
          }
     }
}

     @include tablet {

          .site-main {
               width: 100%;
          }


          .entry-content {
               display: flex;
               flex-direction: column;
               position: relative;

               .entry-image {
                    order:1;
                    width: 70%;
                    border-top:0 solid $primary;
               }
               .event-date-detail {
                    order:2;
                    margin:0 0 0 0;
                    padding: 2rem;
                    width: 28rem;
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
               }

               .entry-header {
                    padding:2rem 0 0 2rem;
                    order:3;
                    width: 65%;
                    .entry-title {
                         @include font-size(44);
                    }
               }

               .post-content {
                    order:4;
                    border-bottom: none !important;
                    .entry-paragraph p {
                         width: 65%;
                         padding-left: 3rem;
                    }

                    .event-location {
                         
                         line-height: 0;
                    }

                    a {
                         color:$primary;
                    }
               }

               #tribe-events-header {
                    order:5;
               }

               
          }
     }

     @include large {
          padding-left: 0;
         
          .entry-content {
               margin-bottom: 7rem !important;
               min-height: 45rem;

               .event-date-detail {
                    padding: 2rem;
                    width: 30rem;
                    top: 2rem;
                    right: 2rem;
               }

               .post-content {
                    max-width: 65rem;
                    padding: 2rem 4rem;
               }

          }
     }

     @include xlarge {
         
          .entry-content {

               .event-date-detail {
                    padding: 3rem;
                    width: 40rem;
                    top: 3rem;
                    right: 3rem;
               }

          }
     }
     
}

.tribe-events-calendar-month__multiday-event-bar-inner {
     background-color: $primary !important;
     color:$white;
     border-radius: 0 !important;
     .tribe-events-calendar-month__multiday-event-bar-title {
          color:$white;
          @include font-size(16);
          line-height: 150%;
          border-radius: 0 !important;
     }
}

.tribe-events .tribe-events-calendar-month__calendar-event-title-link,
.tribe-events .tribe-events-calendar-month__calendar-event-tooltip-title-link {
     @include font-size(18);
     line-height: 150%;
     color:$primary;
}


.tribe-events-c-subscribe-dropdown__container {
     display: none;
}


.tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
     padding-left: 2rem !important;
     padding-right: 2rem !important;
   }

   .tribe-events-before-html {
        margin-bottom: 3rem;
        h2.page-title {
             color:$primary !important;
        }
   }


   .single-tribe_events {
     .tribe-events-before-html {
          display: none !important;
     }
   }

   .tribe-events-meta-group {
     width: 100% !important;
 }