/* XARXES SOCIALS */

.xarxes {

ul.xarxes-socials {
  border-top: 0.05rem solid $black;
  border-bottom: 0.05rem solid $black;
  text-align: center;
  padding: 1.8rem 0 1rem;

  li {
    display: inline-block;
    margin: 0 1.5rem;

    &.ico {
      width: 3.5rem;
      height: 3.5rem;

        a {
          width: 3.5rem;
          height: 3.5rem;
          display: block;
          span { display: none; }
        }
      }

    &.youtube a {
      margin-bottom: 0.15rem;
      height: 1.5rem;
      background: url('../img/ico-youtube.svg') center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.instagran a{
      background: url('../img/ico-instagram.svg') center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.linkedin a{
      background: url('../img/ico-linkedin.svg') center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.pinterest a{
      background: url('../img/ico-pinterest.svg') center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.facebook a{
      background: url('../img/ico-facebook.svg') center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &.ticktok a{
      background: url('../img/ico-tiktok.svg') center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

  }
}


/* SOCIAL ICONS */


.facebook-ico {
  background: url('../img/ico-facebook-q.svg') center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.twitter-ico {
  background: url('../img/ico-twitter-q.svg') center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:hover {
    background: url('../img/ico-twitter-q-hover.svg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.instagram-ico {
  background: url('../img/ico-instagram-q.svg') center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:hover {
    background: url('../img/ico-instagram-q-hover.svg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}




     // @include mobileS {
     //
     // }
     //
     // @include mobileM {
     //
     // }
     //
     // @include mobileL {
     //
     // }
     //
     // @include tablet {
     //
     // }
     //
     // @include laptop {
     //
     // }
     //
     // @include large {
     //
     // }

}
// end xarxes


